<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" [defaultHref]="'/dashboard/my-tontines/'+ currentTontine.tontine.tontine_id +'/wallet'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title class="no-padding ion-text-center">
      {{ 'WALLET_TEXT' | translate }} <small *ngIf="walletTontines && walletTontines[0] && walletTontines[0].currency_name">({{walletTontines[0].currency_name}})</small>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle">
    <ion-title><ion-text color="primary" class="ion-text-capitalize">{{ 'TONTINE_LIST_TEXT10' | translate }}</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tontine-topup">
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <ion-row>
    <ion-col>
      <ion-col class="ion-no-padding">
        <ion-card class="block-1">
          <ion-card-content class="ion-text-center">
            <ion-row>
              <ion-col size="auto" class="align-self-center">
                <span class="desc">{{ 'WALLET_TEXT2' | translate }} </span>
              </ion-col>
              <ion-col class="col-button">                  
                <div class="menu-amount"><span *ngIf="walletTontines && walletTontines[0] && walletTontines[0].currency_name">{{walletTontines && walletTontines[0] ? walletTontines[0].total_balance : 0}} {{walletTontines[0].currency_name}}</span> </div>
              </ion-col>
            </ion-row>            
          </ion-card-content>
        </ion-card>
      </ion-col>     
    </ion-col>
  </ion-row>
  <app-paidmode-tontine></app-paidmode-tontine>
</ion-content>
