<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'PROOF_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="ion-text-center"> 
      <ion-row *ngIf="proof">
          <ion-col size="12">
             <ion-img [src]="proof"></ion-img>
          </ion-col>
      </ion-row>
      <ion-row *ngIf="!proof">
        <ion-col size="12">
           <p class="ion-text-center">
             {{'BILL_PROOF_EMPTY' | translate }}
           </p>
        </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" 
              fill="outline"
              color="warning" 
              class="ion-text-uppercase"
              shape="round" (click)="closeContribute()">
          {{ 'CANCEL_TEXT' | translate }}
        </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
  