<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" [defaultHref]="'/dashboard/my-tontines/' + tontineData.tontine.tontine_id" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'CONTRIBUTION_NOT_PAID_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="my-penalities">
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="reload-outline"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <ion-list>
    <ion-item *ngFor="let data of listData">
      <ion-label>
        <p>{{ 'CYCLE_TEXT' | translate }} / {{ 'SESSION_TEXT' | translate }}: <b> {{data.numero_cycle? data.numero_cycle : ''}}/{{data.numero_seance? data.numero_seance : ''}}</b> </p>
        <p>{{ 'DESCRIPTION_TEXT' | translate }}: <b>{{data.description ? (data.description | translate) : ''}}</b> </p>
        <p>{{ 'AMOUNT_TEXT' | translate }}: <b>{{data.contribution ? data.contribution : ''}} {{tontineData.tontine ? tontineData.tontine.monnaie : ''}}</b> </p>
        <p>{{ 'TONTINE_USERS_TEXT8' | translate }}: <b>{{ data.share}}</b></p>
        <p>{{ 'DATE_TEXT' | translate }}: <b>{{data.date_debut ? data.date_debut.split(' ')[0] : ''}}</b> </p>
      </ion-label>
      <ion-button slot="end" color="warning" class="pay-btn"
        (click)="confirmPin(data)">
          <ion-text>{{ 'PAY_TEXT' | translate }}</ion-text>
          <ion-icon name="wallet"></ion-icon>
      </ion-button>
    </ion-item>   
  </ion-list>
  <div  *ngIf="listData && listData.length === 0 && !loading">
    <p  class="ion-text-center"> {{ 'M_LIST_CONTRIBUTION_NOT_PAID_MSG' | translate }}</p>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
