<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'TONTINE_BID_TEXT6' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{ 'TONTINE_BID_TEXT8' | translate }} #{{batcheNum}} {{ 'TONTINE_BID_TEXT7' | translate }} <em>{{TontineName}}</em>
           {{ 'FOR_TEXT' | translate }} <strong>{{amount}} {{currency}}</strong></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>          
      <ion-col>
          <ion-button expand="full" 
                color="warning" 
                class="ion-text-uppercase"
                shape="round" (click)="confirmBid(userId,numeroPart,Seance_Id_Bid,batcheNum,Current_Bid,Increment_Bid)">
                {{ 'YES_TEXT' | translate }}
          </ion-button>
      </ion-col>  
      <ion-col>
          <ion-button expand="full" 
                fill="outline"
                color="warning" 
                class="ion-text-uppercase"
                shape="round" (click)="closeBidConfirmation()">
                {{ 'CANCEL_TEXT' | translate }}
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>