<ion-item> 
  <ion-label>
    <h2 (click)="toggleAccordion()">
      {{ name }}       
    </h2>
    <div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">    
      <p class="ion-text-wrap"><small>{{ 'DESCRIPTION_TEXT' | translate }}:</small> {{ description }}</p>   
      <p><small>{{'M_CODE_TEXT' | translate}}:</small> {{ code }}</p> 
      <p><small>{{'TONTINE_DETAIL_TEXT8' | translate}}:</small> {{ contribution }}</p> 
      <p *ngIf="frequency"><small>{{'TONTINE_DETAIL_TEXT4' | translate}}:</small> {{ frequency }}</p> 
      <p><small>{{'DATE_START' | translate }}:</small> {{ dateStart }}</p> 
      <p class="ion-text-wrap"><small>{{'TONTINE_INVITE_SUBTEXT1' | translate }}:</small> {{ sender }}</p> 
      <div class="button-area ion-text-right ion-margin-top">
        <ion-button fill="outline" color="warning" [disabled]="loadingInvite" (click)="joinTontine()">{{'M_ACCEPT_TEXT' | translate}}</ion-button>
        <ion-button fill="outline" color="medium" [disabled]="loadingInvite" (click)="cancelTontine()">{{ 'TONTINE_INVITE_SUBTEXT4' | translate }}</ion-button>
      </div>
    </div>              
  </ion-label>
  <ion-button shape="round" fill="outline" color="light" size="small" *ngIf="isMenuOpen" (click)="toggleAccordion()">
    <ion-icon slot="icon-only" name="arrow-up" color="warning"></ion-icon>
  </ion-button>
  <ion-button shape="round" fill="outline" color="light" size="small" *ngIf="!isMenuOpen" (click)="toggleAccordion()">
    <ion-icon slot="icon-only" name="arrow-down" color="warning"></ion-icon>
  </ion-button>  
</ion-item>