<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'DEBT_MAKE_PAYMENT' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-segment (ionChange)="segmentChanged()" value="bank">
      <ion-segment-button *ngIf="balanceOnlineAmount > 0" value="bank">
        <ion-label class="ion-text-capitalize">{{ 'TYPE_PAYMENT_ID2' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="balanceOfflineAmount > 0"  value="phone">
        <ion-label class="ion-text-capitalize">{{ 'OFFLINE_PAYMENT' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="tontine-contribute">
  <p class="ion-text-center" *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner> 
  </p>
  <ion-grid *ngIf="balanceOnlineAmount > 0 || balanceOfflineAmount > 0">
    <ion-row>
      <ion-col>
        <p class="ion-no-margin">
          {{ 'PAY_BENEFICIARY_TEXT' | translate }} <b>{{ tontineName }}</b>.         
        </p>
        <h4 class="ion-no-margin" *ngIf="isModeSelected === true">
          <small>
            {{ 'AMOUNT_TEXT' | translate }}: {{ (totalOnlineAmount | commadumper)}} {{currency}} (<b class="text-danger">{{ 'REMAIN_OTHER_TEXT' | translate }}:  {{ (balanceOnlineAmount | commadumper) }}  {{currency}}</b>)
          </small>
        </h4>
        <h4 class="ion-no-margin" *ngIf="isModeSelected === false">
          <small>
            {{ 'AMOUNT_TEXT' | translate }}: {{ (totalOfflineAmount | commadumper)}} {{currency}} (<b class="text-danger">{{ 'REMAIN_OTHER_TEXT' | translate }}:  {{ (balanceOfflineAmount | commadumper) }}  {{currency}}</b>)
          </small>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="bank" *ngIf="isModeSelected === true && balanceOnlineAmount > 0">
          <app-wallet-order [amountPay]="totalOnlineAmount" [balance]="balanceOnlineAmount"></app-wallet-order>
        </div>
        <div class="mobile" *ngIf="isModeSelected === false && balanceOfflineAmount > 0">
          <app-paidmode-debt-order [balance]="balanceOfflineAmount" [amountPay]="totalOfflineAmount" ></app-paidmode-debt-order>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> 

  <div *ngIf="balanceOnlineAmount <= 0 && balanceOfflineAmount <= 0  && !loading">
    <p class="ion-padding">{{ 'INTIATE_AMOUNT_COMPLETE_PAY_TEXT' | translate }}</p>
  </div>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button expand="full" 
                  fill="outline"
                  color="warning" 
                  class="ion-text-uppercase"
                  shape="round" (click)="closeContribute('close')">
              {{ 'CANCEL_TEXT' | translate }}
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
