<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" [defaultHref]="['dashboard','my-tontines',currentTontine.tontine.tontine_id,'loans','my-loans',cycleId,seanceId]" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
        <ion-img [src]="'assets/join-icon.svg'" class="thumb-img"></ion-img>
    </ion-avatar>
    <ion-title class="no-padding">
     {{'MENU_HISTORY' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col size="5">
        <ion-item lines="none">                
          <ion-toggle  (ionChange)="changeVisibility(isAll)" [(ngModel)]="isAll"></ion-toggle>
          <ion-label><small>{{ 'ALL_TEXT' | translate }}</small> </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7">
          <ion-searchbar placeholder="{{ 'M_NAME_TEXT' | translate }}" type="text" debounce="500" (ionChange)="searchForInvitation($event)" type="text"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="loans-history">

  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="reload-outline"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

  <ion-grid>
    <ion-row *ngIf="filterData && filterData.length > 0">
      <ion-col>
        <ion-label class="ion-padding-vertical" (click)="selectPool()">
            <strong>
              <small>{{ 'CYCLE_TEXT' | translate }}/{{ 'SESSION_TEXT' | translate }} 
              : {{infoCycle ? infoCycle.numerocycle : ''}} <span *ngIf="infoCycle && infoSeance">/</span> {{infoSeance ? infoSeance.numero_seance : ''}}
            </small>
          </strong>    
          <ion-text class="ion-float-right"><ion-icon  name="ios-arrow-down"></ion-icon></ion-text>       
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of history">             
            <ion-label>
              <p>
                <ion-text color="warning">
                  <small>{{item.data.updated_at.split(' ')[0] }}</small> 
                </ion-text>
              </p>    
              <p>
                <ion-text color="primary"><h2><small>{{'TONTINE_USERS_TEXT5' | translate }}: </small><b>{{item.data.infos_client ? item.data.infos_client.firstname : ''}} {{item.data.infos_client ? item.data.infos_client.lastname : ''}}</b></h2></ion-text>
              </p>          
              <p><ion-text color="dark"><small>{{ 'DESCRIPTION_TEXT' | translate }}: </small> {{item.desc ? item.desc : ''}}</ion-text> </p>                
              <p *ngIf="item.type === 'approve' || item.type === 'reject'">
                <span class="ion-float-left"><small>{{ 'REQUEST_TEXT' | translate }}: </small>{{ item.data ? (item.data.request | commadumper) : 0}} {{currentTontine ? currentTontine.tontine.monnaie : ''}}</span> 
                <span class="ion-float-right"><small> {{ 'APPROVE_TEXT' | translate }}: </small>{{item.data ? (item.data.approve | commadumper) : 0}} {{currentTontine ? currentTontine.tontine.monnaie : ''}}</span>               
              </p> 
              <p *ngIf="item.type === 'payment' || item.type === 'interest'">
                <span class="ion-float-left"><small>{{'DUE_TEXT' | translate }}: </small>{{item.data ? (item.data.due | commadumper) : 0}} {{currentTontine ? currentTontine.tontine.monnaie : ''}}</span> 
                <span class="ion-float-right"><small>{{'PAY_TEXT' | translate }}: </small>{{item.data ? (item.data.pay | commadumper) : 0}} {{currentTontine ? currentTontine.tontine.monnaie : ''}}</span>                
              </p> 
              <p *ngIf="item.type === 'payment' || item.type === 'interest'">
                <small>{{'OUTSTANDING_TEXT' | translate}}: </small>{{item.data ? (item.data.outstanding | commadumper) : 0}} {{currentTontine ? currentTontine.tontine.monnaie : ''}}
              </p>
              <p *ngIf="item.type === 'interest_interest'">
                <span class="ion-float-left"><small>{{'PREVIOUS_TEXT' | translate }}: </small>{{item.data ? (item.data.previous | commadumper) : 0}} {{currentTontine ? currentTontine.tontine.monnaie : ''}}</span> 
                <span class="ion-float-right"><small>{{'NEW_TEXT' | translate }}: </small>{{item.data ? (item.data.next | commadumper) : 0}} {{currentTontine ? currentTontine.tontine.monnaie : ''}}</span>                
              </p> 
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div  *ngIf="history && history.length === 0 && !loading">
    <p  class="ion-padding ion-text-center"> {{ 'LOANS_HISTORY_EMPTY_TEXT' | translate }}</p>
  </div>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
