<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">{{ 'M_CONTRIBUTION_PAYMENT' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="tontine-penality">
    <h4 class="ion-padding-horizontal"><small> {{ 'TONTINE_EVENT_TEXT9' | translate }}: <b>{{ eventName }}</b></small></h4>
    <app-paidmode-event [amountPay]="1"></app-paidmode-event>
  </ion-content>
  
  <ion-footer class="ion-padding ion-text-center">
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-button expand="full" 
                    fill="outline"
                    color="warning" 
                    class="ion-text-uppercase"
                    shape="round" (click)="closePayContribution()">
                {{ 'CANCEL_TEXT' | translate }}
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-footer>
