<ion-header>
  <ion-toolbar class="with-logo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/terms"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle">
      <ion-title>{{ 'TERM_COUNTRY_DOMICILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ol type="1">
      <li> {{ 'TERM_COUNTRY_DOMICILE_TEXT1' | translate }} </li>
      <li> {{ 'TERM_COUNTRY_DOMICILE_TEXT2' | translate }} </li>
    </ol>
</ion-content>
