<ion-header>
  <ion-toolbar class="with-logo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/verify-phone"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding register-phone">
  <form [formGroup]="emailVerificationForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p [innerHTML]="'M_CHECK_ACCOUNT_MSG' | translate">
          </p>        
        </ion-col>
      </ion-row> 
      <ion-row *ngIf="canShowMessageAccount()">
        <ion-col size="12">
            <p class="ion-text-center"> 
              <strong>{{'USER_SECURITY_MSG2' | translate}}</strong>
            </p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="loadingEmail && server">
        <ion-col size="12">
            <p class="error-message ion-text-center"> 
              <ion-spinner *ngIf="loadingEmail" name="circles"></ion-spinner>
              {{'M_EMAIL_CHECKING' | translate}}
            </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">{{'M_EMAIL_MSG' | translate}}</ion-label>
            <ion-input (ionChange)="checkEmail(emailVerificationForm.value.email)" type="email" formControlName="email"></ion-input>
          </ion-item>        
        </ion-col>
        <ion-col size="12">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error-message" *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
                <ion-icon name="information-circle-outline" ></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>  
        </ion-col>
      </ion-row>
      <ion-row  *ngIf="isEmailValid">
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">{{'PASSWORD_TEXT' | translate}}</ion-label>
            <ion-input [type]="canShow ? 'text' : 'password'" formControlName="password"></ion-input>
            <ion-icon (click)="updateType()" color="warning" [name]="canShow ? 'eye-off' : 'eye'" slot="end"></ion-icon>
          </ion-item>        
        </ion-col>
      </ion-row>  
    </ion-grid>
  </form>  
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <ion-button expand="full" [disabled]="canCheckLogin()" 
              color="warning" 
              class="ion-text-uppercase"
              shape="round" (click)="checkPassword(1)">
          {{'M_CHECK_LOGIN' | translate}}
        </ion-button>
      </ion-col>
      <ion-col size='6'>
        <ion-button expand="full" [disabled]="loadingForm" 
              color="warning" 
              class="ion-text-uppercase"
              shape="round" (click)="onLogin(0)">
          {{'M_SKIP' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="ion-text-center"  *ngIf="loadingPass">
    <ion-spinner name="circles"></ion-spinner> 
  </p>
  <p class="ion-text-center" *ngIf="loadingForm">
    <ion-spinner  name="circles"></ion-spinner> 
  </p>
</ion-footer>