<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-wrap">{{ 'SWAP_VALIDATION' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding swap-validation">
  <p>
    {{ 'SWAP_TEXT_CONFIRMATION_1' | translate }}  {{requestData.request[0].from}} {{ 'SWAP_TEXT_CONFIRMATION_2' | translate }}  {{requestData.request[0].to}} {{ 'SWAP_TEXT_CONFIRMATION_3' | translate }}
  </p>
  <p>
    <b>
    <ion-text color="warning">{{requestData.amountFrom}}</ion-text> 
    <ion-icon name="arrow-forward"></ion-icon> 
    <ion-text color="primary">{{requestData.amountTo}}</ion-text>
    </b>
  </p>
  <p>
   {{ 'EXCHANGE_RATE' | translate }}: 1 {{requestData.request[0].from}} = {{swaprate}} {{requestData.request[0].to}}<br/>
   <span *ngIf="requestData.exchange_rate">{{ 'USER_RATE' | translate }}: 1 {{requestData.request[0].from}} = {{requestData.exchange_rate}} {{requestData.request[0].to}}<br/></span> 
    {{ 'MATCHING_FEES_TEXT' | translate }}: {{requestData.fees}} {{requestData.request[0].to}} <br/>
    {{ 'SWAP_TOTAL_AMOUNT' | translate }} : {{ requestData.amountSwap}} {{requestData.request[0].to}}
  </p>
  <p>
    {{ 'SWAP_TYPE_TEXT' | translate }}: {{ requestData.type === 1 ?  ('INSTANT_TEXT' | translate) : ('DELAYED_TEXT' | translate) }} 
  </p> 

  <p *ngIf="requestData.type === 1 && canMakeRequest" class="ion-padding-vertical"><strong>
    <ion-text color="danger">
    {{ 'INSTANT_SWAP_MESSAGE' | translate}}
    </ion-text>    
  </strong></p>

  <p *ngIf="!canMakeRequest" class="ion-no-margin">
    <ion-text color="danger">
    {{ 'CANT_MATCH_SWAP_DESCRIPTION' | translate : { balance : (requestData.amountSwap + ' ' + requestData.request[0].to) } }}
  </ion-text>
  </p>

  <p *ngIf="requestData.type === 2 && canMakeRequest" class="ion-padding-vertical"><strong>
    <ion-text color="danger">
    {{ 'DELAYED_SWAP_MESSAGE' | translate}}
    </ion-text>    
  </strong></p>

</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <ion-button expand="full" 
                color="warning" 
                [disabled]="!canMakeRequest"
                class="ion-text-uppercase"
                shape="round" (click)="matchedSwapRequest()">
            {{ 'VALIDATE_TEXT' | translate }}
          </ion-button>
      </ion-col>
      <ion-col size="6">
          <ion-button expand="full" 
                fill="outline"
                color="warning" 
                class="ion-text-uppercase"
                shape="round" (click)="closeSwap()">
            {{ 'CANCEL_TEXT' | translate }}
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
