<ion-header>
  <ion-toolbar class="with-logo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/register-phone"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center verify-phone">
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <form [formGroup]="phoneValidationForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>{{'REGISTER_MTEXT2' | translate}} <span class="usertel">
            +{{registerData.phoneid}} {{formatPhoneNumber(registerData.phone_number,registerData.phoneid)}}</span>
          </p>        
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-item>
            <ion-input type="tel" formControlName="digit_code" (keyup.enter)="gotoNext()"></ion-input>
          </ion-item> 
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.coderef">
              <div class="error-message" *ngIf="code.hasError(validation.type) && (code.dirty || code.touched)">
                <ion-icon name="information-circle-outline" ></ion-icon>
                {{ validation.message }}
              </div>
            </ng-container>
          </div>  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>{{'REGISTER_MMSG2' | translate}} <a (click)="getCode()"><span class="resend">{{'REGISTER_MMSG3' | translate}}</span></a></p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="phoneValidationForm.value.digit_code &&phoneValidationForm.valid">
        <ion-col size="12" color="secondary">
          <ion-icon name="information-circle-outline" ></ion-icon>
          <span>{{'PIN_SAVE_MSG' | translate}} 
          </span>        
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
    <ion-button expand="full"  [disabled]="phoneValidationForm.invalid || loadingForm"
    color="warning" 
    class="ion-text-uppercase"
    shape="round" (click)="gotoNext()">
    {{'NEXT_TEXT' | translate}}
</ion-button>
<p class="ion-text-center" *ngIf="loadingForm">
  <ion-spinner  name="circles"></ion-spinner> 
</p>
</ion-footer>
