<ion-header>
  <ion-toolbar class="with-logo2">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/dashboard/my-tontines" ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title-md-right">
      <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle">
    <ion-title>{{ 'MENU_JOIN_TONTINE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="join-tontine">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-text>{{ 'JOIN_TONTINE_MSG' | translate }}. {{'JOIN_TONTINE_MSG3' | translate }}.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <form [formGroup]="joinTontineForm">
              <ion-item>
                <ion-label position="floating">{{ 'JOIN_TONTINE_MSG1' | translate }}</ion-label>
                <ion-input type="number" formControlName="code_invitation" required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.code">
                  <div class="error-message"
                    *ngIf="joinCode.hasError(validation.type) && (joinCode.dirty || joinCode.touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" [disabled]="joinTontineForm.invalid || loading" (click)="joinTontine()"
          color="warning" class="ion-text-uppercase" shape="round">
          {{ 'JOIN_TEXT' | translate }}
        </ion-button>
        <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>