<ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
  <ion-refresher-content
    pullingIcon="reload-outline"
    refreshingSpinner="circles"
    refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
  </ion-refresher-content>
</ion-refresher>
<ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-searchbar placeholder="{{ 'LOGIN_TEXT1' | translate }}" type="text" debounce="500" (ionChange)="searchForInvitation($event)">
      </ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid id="invitation-list">

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <ion-row *ngIf="eventsList && eventsList.length > 0 && !loading">
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let invitation of eventsList, index as num">
          <ion-badge color="warning" slot="start">{{num + 1}}</ion-badge>
          <ion-label>
            <h2> <small>{{ 'TONTINE_INVITE_SUBTEXT2' | translate }} : </small> {{invitation.InviteEmail || invitation.InvitePhone}}</h2>
            <h3><small>{{ 'TONTINE_EVENT_INVIT_TEXT4' | translate }} : </small>{{ invitation && invitation.updated_at ? invitation.updated_at.split(' ')[0] : '' }}</h3>
            <div *ngIf="invitation.EtatInvitation === 'en attente'; then pending; else activated">
            </div>
            <ng-template #pending>
              <div class="button-area">
                <ion-badge color="primary"  *ngIf="isCodeValid(invitation)">{{ 'TONTINE_INVITE_SUBTEXT7' | translate }} ...</ion-badge>
                
                <ion-button fill="outline" color="warning" *ngIf="isCurrentUser(invitation) && !isInvitationAdmin(invitation)" (click)="confirmUserInvitation(invitation)">
                 <small>{{ 'TONTINE_INVITE_SUBTEXT3' | translate }}</small>  
                </ion-button>
                <ion-button fill="outline" color="medium"  *ngIf="isCurrentUser(invitation) && !isInvitationAdmin(invitation)" (click)="openDenyInvitationDialog(invitation, num)">
                  <small>{{ 'TONTINE_INVITE_SUBTEXT4' | translate }}</small> </ion-button>
                  
                <ion-button fill="outline"*ngIf="!isCodeValid(invitation) && isCurrentUser(invitation) && isInvitationAdmin(invitation)" color="warning" (click)="ResendInvitation(invitation)">
                  <small>{{ 'TONTINE_INVITE_SUBTEXT8' | translate }}</small></ion-button>
                </div>
            </ng-template>
            <ng-template #activated>

              <ion-badge color="primary" *ngIf="isStatutRefused(invitation)">{{ 'TONTINE_INVITE_SUBTEXT5' | translate }}
                ...</ion-badge>
                <ion-badge color="primary" *ngIf="isStatutActivated(invitation)">{{ 'TONTINE_INVITE_SUBTEXT6' | translate }}
                ...</ion-badge>
            </ng-template>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="eventsList && eventsList.length === 0 &&  !loading">
    <ion-col >
      <p class="ion-text-center"> 
        {{ 'TONTINE_INVITE_TEXT8' | translate }}
      </p>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-infinite-scroll threshold="100px" (ionInfinite)="infinteScrollData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>