<ion-header>
  <ion-toolbar class="with-logo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle">
      <ion-title>{{'TERMS_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-img class="inner-image" [src]="'assets/policy.svg'"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item routerLink="about" detail>
            <ion-text>{{ 'TERM_ABOUT_US' | translate }}</ion-text>
          </ion-item>
          <ion-item routerLink="terms-conditions" detail>
            <ion-text>{{ 'TERM_TERMS_AND_CONDITIONS' | translate }}</ion-text>
          </ion-item>
          <ion-item routerLink="delivery-policy" detail>
            <ion-text>{{ 'TERM_DELIVERY_POLICY' | translate }}</ion-text>
          </ion-item>
          <ion-item routerLink="privacy-policy" detail>
            <ion-text>{{ 'TERM_PRIVACY_POLICY' | translate }}</ion-text>
          </ion-item>
          <ion-item routerLink="cancellation" detail>
            <ion-text>{{ 'TERM_CANCELATION_REFUND_POLICY' | translate }}</ion-text>
          </ion-item>
          <ion-item routerLink="country-home" detail>
            <ion-text>{{ 'TERM_COUNTRY_DOMICILE' | translate }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
