<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'CONTRIBUTE_MSG' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeContribute('close')">
        <ion-icon color="warning" name="close-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tontine-contribute">
  <h4 class="ion-padding-horizontal"><small>{{ 'PAIDMODE_MSG1' | translate }} : <b>{{ tontineName }}</b></small></h4>
  <app-paidmode-seance-caution [amountPay]="contribAmount"></app-paidmode-seance-caution>
</ion-content>

<!-- <ion-footer class="ion-padding ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full"
                fill="outline"
                color="warning"
                class="ion-text-uppercase"
                shape="round" (click)="closeContribute('close')">
            {{ 'CANCEL_TEXT' | translate }}
          </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer> -->
