<ion-header>
  <ion-toolbar class="with-logo2">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/dashboard/pesuswap"></ion-back-button>
    </ion-buttons> 
    <ion-title class="ion-text-center title-md-right">
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-title  class="ion-text-center">{{ 'PENDING_PESU_SWAP_TEXT' | translate }}</ion-title>      
  </ion-toolbar>
</ion-header>

<ion-content class="pesuswap">

  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="reload-outline"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list class="swapwrap">
     
          <p class="ion-text-center"  *ngIf="loading">
            <ion-spinner  name="circles"></ion-spinner>
          </p>
          <ion-item class="swapitem" *ngFor="let request of allRequests; let i = index">
            <ion-checkbox *ngIf="request.canSelect" (ionChange)="checkSelection(i)" [(ngModel)]="allRequests[i].select" ngModelOptions="{standalone: true}" color="primary" slot="start"></ion-checkbox>
            <ion-label>
            
              <p>                
                <span class="ion-float-left swaprate">
                  <ion-text color="warning">
                    <ion-icon name="star" *ngFor="let icon of getSuccessPercentage(request.data.pourcentage_reussite)"></ion-icon>
                    <ion-icon name="star-outline" *ngFor="let icon of getLossPercentage(request.data.pourcentage_reussite)"></ion-icon>
                  </ion-text>
                </span>
                <span class="ion-float-right"><small>{{ 'EXPIRED_IN_TEXT' | translate }} <b>{{ expiredTime(request.data)}}</b></small></span> 
              </p>   
              <ion-text *ngIf="request.data && request.data.infos_user_from" color="dark">
                <h2>
                  <span> {{ 'INITIATOR_TEXT' | translate }} : </span> <b>{{ request.data.infos_user_from && request.data.infos_user_from.firstname ? request.data.infos_user_from.firstname   : request.data.infos_user_from.lastname ?  request.data.infos_user_from.lastname : ('ANONYM_USER_TEXT' | translate)}}</b>
               </h2>
             </ion-text>           
              <h2>
                <ion-text color="warning">{{ request.data.user_id_from === currentUserData.id ? request.data.amount_from :  request.data.amount_to}} 
                  {{request.data.user_id_from === currentUserData.id ? request.data.infos_currency_from.name : request.data.infos_currency_to.name }}</ion-text> 
                <ion-icon [color]="request.data.user_id_from===currentUserData.id ? 'warning' : ''" name="arrow-forward"></ion-icon> 
                <ion-text color="primary">{{ request.data.user_id_from === currentUserData.id ? request.data.amount_to : request.data.amount_from }}
                   {{request.data.user_id_from === currentUserData.id ? request.data.infos_currency_to.name : request.data.infos_currency_from.name }}</ion-text>
              </h2>
              <p>                
                <ion-text color="dark"><span class="ion-float-left"> {{request.data.type_swap_id === 1 ? ('INSTANT_TEXT' | translate) : ('DELAYED_TEXT' | translate)}}</span></ion-text>
              </p>
            </ion-label>
          </ion-item>   

        </ion-list>
      </ion-col>      
    </ion-row>        
  </ion-grid>

  <div  *ngIf="activeRequests && activeRequests.length === 0 && !loading && !refresh">
    <p  class="ion-padding ion-text-center"> {{ 'PENDING_SWAP_REQUEST_EMPTY_LIST' | translate }}</p>
  </div>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-padding ion-text-left" *ngIf="selectRequests.length > 0">
   <div >
    <div class="swap-btn-sommary">
      <ion-text color="dark"><strong>{{ 'GET_TEXT' | translate }}: {{getAmountText}}</strong></ion-text> <br /> {{ 'PAIDTEXT' | translate }}: {{paidAmountText}}
    </div> 
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="warning" (click)="confirmPin()">
        <ion-icon name="cash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div> 
</ion-footer>


