<ion-header>
  <ion-toolbar>
    <ion-title  color="primary" class="ion-text-center ion-text-capitalize">
      {{ 'REASONS_TEXT' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="validation">
  <ion-grid class="ion-padding-horizontal">
    <ion-row *ngFor="let data of reasonList">
      <ion-col size="12" *ngIf="data && data.firstname && data.lastname">
       <strong> {{ data && data.firstname ? data.firstname : ''}}
        {{ data && data.lastname ? data.lastname : ''}} : </strong>
      </ion-col>
      <ion-col size="12" *ngIf="data && data.infos_admin">
        <strong> {{ data && data.infos_admin.firstname ? data.infos_admin.firstname : ''}}
         {{ data && data.infos_admin.lastname ? data.infos_admin.lastname : ''}} : </strong>
       </ion-col>
      <ion-col size="12">
        {{ data && data.reason ? data.reason : ''}}
      </ion-col>
      <hr/>
    </ion-row>
  </ion-grid>  
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row> 
      <ion-col>
          <ion-button expand="full" 
                color="warning" 
                class="ion-text-uppercase"
                shape="round" (click)="closeValidation()">
            {{ 'CANCEL_TEXT' | translate }}
          </ion-button>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-footer>

