<ion-header>
  <ion-toolbar class="with-logo2">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/dashboard/my-wallet" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title-md-right">
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goDashboard()">
        <ion-icon name="home" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle ion-padding">
    <ion-title>{{ 'MENU_MY_WALLET' | translate }}: <ion-text color="primary" class="ion-text-capitalize">{{ 'HISTORY_PAGE_TITLE' | translate }}</ion-text></ion-title>
    <ion-row *ngIf="filterDataType && filterDataType.length > 0 && filterData && filterData.length > 0">
      <ion-col>
        <ion-item>
          <ion-label>{{ 'M_CHOOSE_MOTIF' | translate }} : </ion-label>
          <ion-select (ionChange)="filterTransType(filterIndex)" [(ngModel)]="filterIndex">
            <ion-select-option [value]="-1" >{{'ALL_TRANSACTIONS' | translate }}</ion-select-option>
            <ion-select-option [value]="i" *ngFor="let filter of filterDataType; let i = index">
              <small> {{filter.trans}}</small> 
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="reload-outline"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <ion-list>
    <ion-item  *ngFor="let transaction of activelistTransactions">                                  
      <ion-label>
        
        <ion-text *ngIf="transaction&&transaction.method_payment"  color="primary">
            <h2><b>{{ transaction.method_payment ? (transaction.method_payment | translate) : ''}}</b>
              <span> 
                <ion-icon [color]="transaction.status === 'entrant' ? 'success' :  'danger'" [name]="transaction.status === 'entrant' ? 'arrow-back' :  'arrow-forward'" ></ion-icon>
               </span>
            </h2>
           
        </ion-text>
        <p><small>Ref.:</small>   {{transaction.reference_transaction ? transaction.reference_transaction : ''}}</p>      
        <p *ngIf="transaction&&transaction.tontine_name"><small> {{ 'M_TONTINE_TEXT' | translate }}  : </small>  {{ transaction.tontine_name ?  transaction.tontine_name  : ''}}</p>                
        <p><small>{{'DATE_TEXT' | translate }}: </small> {{transaction.updated_at ? transaction.updated_at.split(' ')[0] : ''}} </p>  
        <p>
          <ion-text color="dark">
            <span class="ion-float-left"><small>{{'TYPE_TEXT' | translate }}: </small>{{transaction.status ? getTransactionType(transaction.status) : ''}}</span>
            <span class="ion-float-right"><small>{{ 'REASON_TEXT' | translate}}: </small>{{transaction.motif ?getTransactionFlux(transaction.motif) : ''}}</span> 
          </ion-text>
        </p>     
      
        <h2><ion-text color="warning"><small>{{'AMOUNT_TEXT' | translate}}: </small><b>{{transaction.somme ? (transaction.somme | commadumper) : ''}} {{transaction.device_name ? transaction.device_name : ''}}</b> </ion-text></h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <div  *ngIf="activelistTransactions && activelistTransactions.length === 0 && !loading">
    <p  class="ion-text-center"> {{ 'HISTORY_TEXT3' | translate }}</p>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
