<ion-list class="ion-padding-top" class="loans-menu-popover">
  <ion-item  (click)="closeLoansMenu();openLoansEdit()" lines="none">
    <ion-label>
      {{ 'SETTING_TEXT' | translate }}
    </ion-label>
  </ion-item>
  <ion-item  (click)="closeLoansMenu();openMyLoanRequest()" lines="none">
    <ion-label>
     {{'MY_LOANS_TEXT' | translate}}
    </ion-label>
  </ion-item>
  <ion-item (click)="closeLoansMenu();openAllLoansRequest()" lines="none">
    <ion-label>
      {{'ALL_LOANS' | translate}}
    </ion-label>
  </ion-item>

  <ion-item (click)="closeLoansMenu();RefundRequest()" lines="none">
    <ion-label>
      {{'REFUND_REQUEST' | translate}}
    </ion-label>
  </ion-item>
</ion-list>