<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'DEBT_MAKE_PAYMENT' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeContribute('cancel')">
        <ion-icon color="warning" name="close-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-text-left">
    <ion-segment  (ionChange)="segmentChanged($event)" value="0">

      <ion-segment-button value="0">
        <ion-label class="ion-text-capitalize">{{ 'ONLINE_TEXT' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label class="ion-text-capitalize">{{ 'CASH_PAYMENT' | translate }}</ion-label>
      </ion-segment-button>

      <ion-segment-button value="2">
        <ion-label class="ion-text-capitalize">{{ 'BANK_TEXT' | translate }}</ion-label>
      </ion-segment-button>


    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="tontine-contribute">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="ion-no-margin">
          {{ 'MAKING_PAYMENT_TEXT' | translate }} <b>{{ tontineName }}</b>.
        </p>
        <h4 class="ion-no-margin">
          <small>
            {{ 'DEBT_AMOUNT_TEXT' | translate }}: {{ (amountPay | commadumper)}} {{currency}} (<b class="text-danger">{{ 'CURRENT_BALANCE' | translate }}:  {{ (balance | commadumper) }}  {{currency}}</b>)
          </small>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="bank" *ngIf="isModeSelected[0]">
          <app-paidmode-debt [amountPay]="amountPay"  [balance]="balance" ></app-paidmode-debt>
        </div>
        <div class="bank" *ngIf="isModeSelected[1]">
          <app-cashmode [amountPay]="amountPay" [balance]="balance"></app-cashmode>
        </div>
        <div class="mobile" *ngIf="isModeSelected[2]">
          <app-bankmode [amountPay]="amountPay" [balance]="balance"></app-bankmode>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer class="ion-padding ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button expand="full"
                  fill="outline"
                  color="warning"
                  class="ion-text-uppercase"
                  shape="round" (click)="closeContribute('cancel')">
              {{ 'CANCEL_TEXT' | translate }}
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
 -->
