<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button  *ngIf="canShowBackButton"  color="primary" defaultHref="/dashboard/user" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="{{userPicture ? userPicture : 'assets/post-img.svg'}}" class="thumb-img">
    </ion-avatar>
    <ion-title class="no-padding ion-margin-start">
      {{ 'TONTINE_NEW_TEXT9' | translate }} <span>
        <ion-icon color="warning" name="create" slot="icon-only"></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="user-profil">
  <form [formGroup]="userDetailForm">
    <ion-grid>
      <ion-row *ngIf="!canShowBackButton">
        <ion-col class="ion-margin-top">
          <ion-label color="danger">
            <ion-icon color="danger" name="information-circle-outline" slot="icon-only"> </ion-icon>
            <span [innerHTML]="'COMPLETE_ACCOUNT_MESSAGE' | translate"></span>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'FIRSTNAME_TEXT' | translate }}*</ion-label>
            <ion-input autofocus='true' type="text" formControlName="firstName" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.firstname">
              <div class="error-message"
                *ngIf="firstName.hasError(validation.type) && (firstName.dirty || firstName.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'LASTNAME_TEXT' | translate }}*</ion-label>
            <ion-input type="text" formControlName="lastName" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.lastName">
              <div class="error-message"
                *ngIf="lastName.hasError(validation.type) && (lastName.dirty || lastName.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'USERNAME_TEXT' | translate }}</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.userName">
              <div class="error-message"
                *ngIf="userName.hasError(validation.type) && (userName.dirty || userName.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'M_GENDER' | translate }}*</ion-label>
            <ion-select formControlName="sexe">
              <ion-select-option value="male">{{ 'MALE_TEXT' | translate }}</ion-select-option>
              <ion-select-option value="female">{{ 'FEMALE_TEXT' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'BIRTHDAY_TEXT' | translate }}</ion-label>
            <ion-datetime formControlName="birthdayvalue" [max]="currentDate" displayFormat="DDDD D MMM, YYYY" pickerFormat="DD MMMM YYYY">
            </ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.birthday">
              <div class="error-message"
                *ngIf="birthdayError.hasError(validation.type) && (birthdayError.dirty || birthdayError.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item [disabled]="userDetailForm.value.paysValue && !counrtryApi ? true: false" (click)="showCountries()">
            <ion-label>{{'COUNTRY_TEXT' | translate}} : </ion-label>
            <p><strong> {{ userDetailForm.value.countryName }} </strong> </p>          
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.country">
              <div class="error-message"
                *ngIf="country.hasError(validation.type) && (country.dirty || country.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{ 'ADDRESS_TEXT' | translate }}</ion-label>
                <ion-input type="text" formControlName="address"></ion-input>
              </ion-item>
            </ion-col>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.address">
                <div class="error-message"
                  *ngIf="address.hasError(validation.type) && (address.dirty || address.touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'CITY_TEXT' | translate }}</ion-label>
            <ion-input type="text" formControlName="ville"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.city">
              <div class="error-message" *ngIf="city.hasError(validation.type) && (city.dirty || city.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'OCCUPATION_TEXT' | translate }}</ion-label>
            <ion-input type="text" formControlName="profession"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.occupation">
              <div class="error-message"
                *ngIf="occupation.hasError(validation.type) && (occupation.dirty || occupation.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input (ionChange)="checkEmail(userDetailForm.value.email)" type="email"
              placeholder="{{ 'M_EMAIL_MSG' | translate }}" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error-message"
                *ngIf="emailError.hasError(validation.type) && (emailError.dirty || emailError.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input type="text" (ionChange)="checkPhone(userDetailForm.value.phone)"
              placeholder="{{ 'M_PHONE_MSG' | translate }}" formControlName="phone"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.phone">
              <div class="error-message"
                *ngIf="phoneError.hasError(validation.type) && (phoneError.dirty || phoneError.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    <!--   <ion-row *ngIf="canShowBackButton">
        <ion-col class="ion-margin-top">
          <ion-label color="danger">
            <ion-icon color="danger" name="information-circle-outline" slot="icon-only"> </ion-icon>
            <span [innerHTML]="'IMAGE_MESSAGE' | translate"></span>
          </ion-label>
        </ion-col>
      </ion-row> -->
<!--       <ion-row   *ngIf="canShowBackButton">
        <ion-col class="ion-text-end">
          <ion-button color="primary" size="medium" class="ion-text-capitalize" (click)="getPicture()">
            {{ 'USER_DETAIL_UPLOAD' | translate }}
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>

  </form>

</ion-content>


<ion-footer class="ion-padding ion-text-center">
  <ion-button expand="full" [disabled]="loading || userDetailForm.invalid" (click)="updateAccount()" color="warning"
    class="ion-text-uppercase" shape="round">
    {{'SAVE_TEXT' | translate}}
  </ion-button>
  <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
</ion-footer>