<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'PAY_SWAP_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tontine-contribute">
  <h4 class="ion-padding-horizontal"><small>{{ 'PAY_SWAP_MSG' | translate : {swapAmount : swapData.amount + ' ' + swapData.currency  } }} : <b>{{ exchange }}</b></small></h4>
  <app-paidmode-swap [amountPay]="amount"  ></app-paidmode-swap>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" 
                fill="outline"
                color="warning" 
                class="ion-text-uppercase"
                shape="round" (click)="closeContribute()">
            {{ 'CANCEL_TEXT' | translate }}
          </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
