<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/dashboard/my-tontines" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <ion-img [src]="'assets/join-icon.svg'" class="thumb-img"></ion-img>
    </ion-avatar>
    <ion-title class="ion-padding">
      <span> {{ myTontine.name ? (myTontine.name | stringTruncate : 11) : '' }} </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openContextMenu($event)">
        <ion-icon name="ellipsis-vertical" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tontine-detail">
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content pullingIcon="reload-outline" refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-row *ngIf="!loadingCaisse">
      <ion-col size="12" class="ion-no-padding" *ngIf="walletTontines && walletTontines.length > 0">
        <ion-card class="block-1">
          <ion-card-content class="ion-text-center">
            <ion-row>
              <ion-col size="12">
                <div class="t-balance">
                  <ion-text color="danger"><span class="desc">{{ 'TONTINE_DETAIL_TEXT7' | translate }} :
                      {{walletTontines && walletTontines[0] ? (walletTontines[0].total_balance | commadumper) : 0 }}
                      {{myTontine.currency}}</span></ion-text>
                </div>
              </ion-col>
              <ion-col [size]="detailCaisses && detailCaisses.length > 3 ? 3 : 4" *ngFor="let caisse of detailCaisses"
                class="col-button">
                <div class="desc">{{caisse.caisse_name ? (caisse.caisse_name.split(' ')[0] | translate) : ''}} <br />
                  {{caisse.caisse_name ? (caisse.caisse_name.replace(caisse.caisse_name.split(' ')[0],"") | translate) :
                  ''}} <br /> ({{myTontine.currency}})</div>
                <div class="menu-amount">{{caisse.solde ? (caisse.solde | commadumper) : 0}}</div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row
      *ngIf="isAdmin() && currentTontine.tontine.active === 0">
      <ion-col class="ion-margin-top">
        <ion-label color="danger">
          <ion-icon color="danger" name="information-circle-outline" slot="icon-only"> </ion-icon>
          <span [innerHTML]="'TONTINE_ALERT_MESSAGE' | translate"></span>
        </ion-label>
      </ion-col>
    </ion-row>
    <div class="block-2 ion-padding">
      <ion-row>
        <ion-col>
          <ion-label class="ion-padding-vertical">
            <p>
              <span>
                <b><em>{{'CREATED_ON' | translate}} {{currentTontine && currentTontine.tontine &&
                    currentTontine.tontine.created_at? currentTontine.tontine.created_at.split(' ')[0] : ''}}</em></b>
              </span>
            </p>
            <span><b><em>{{'DESCRIPTION_TEXT' | translate }} : </em> </b></span>
            <span [innerHTML]="myTontine.description">
            </span>
          </ion-label>
          <ion-label class="ion-padding-vertical">
            <p>
              <span>
                <b><em>{{'ENDED_ON' | translate}} {{currentTontine && currentTontine.tontine &&
                    currentTontine.tontine.date_fin_cycle ? currentTontine.tontine.date_fin_cycle.split(' ')[0] :
                    ''}}</em></b>
              </span>
            </p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="row-1">
        <ion-col size="6" class="ion-text-center">
          <b>{{ 'TONTINE_NEW_TEXT4' | translate }}</b><br /> {{getCountryName(myTontine.country_key)}}
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <b>{{ 'TONTINE_DETAIL_TEXT2' | translate }}</b><br /> {{myTontine.currency}}
        </ion-col>
      </ion-row>
      <ion-row class="row-2">
        <ion-col size="6" class="ion-text-center">
          <b>{{ 'TONTINE_EDIT_SHARE_TEXT9' | translate }}</b><br /> {{(myTontine.contribution | commadumper )}}
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <b>{{ 'TONTINE_EDIT_TEXT10' | translate }}</b><br /> {{getPeriodicityName(myTontine.frequency_key)}}
        </ion-col>
      </ion-row>
      <ion-row class="row-2">
        <ion-col size="6" class="ion-text-center">
          <b>Type</b><br />{{getTontineTypeName(myTontine.type_tontine_key)}}
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <b>{{ 'TONTINE_NEXT_SESSION' | translate }}</b><br />{{ myTontine.dateStart | toDateObj | date :
          'mediumDate'}}
        </ion-col>
      </ion-row>
      <ion-row class="row-2"
        *ngIf="userContribution && (userContribution.total_contribution || userContribution.total_penalite)">
        <ion-col size="6" class="ion-text-center">
          <b>{{'MY_CONTRIBUTION' | translate}}</b><br />{{userContribution && userContribution.total_contribution ?
          (userContribution.total_contribution | commadumper) : 0 }} {{myTontine.currency}}
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <b>{{ 'MY_PENALTIES' | translate }}</b><br />{{userContribution && userContribution ?
          (userContribution.total_penalite | commadumper) : 0 }} {{myTontine.currency}}
        </ion-col>
      </ion-row>
      <ion-buttons class="edit-btn"
        *ngIf="isAdmin()">
        <ion-button (click)="openEditInfo()">
          <ion-icon color="warning" name="create" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

    <div class="block-3" *ngIf="isBid()">
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item lines="none" *ngIf="currentAmount.length === 0">
              <ion-text>
                {{ 'TONTINE_DETAIL_TEXT23' | translate }} <br />
                <b>0 {{myTontine.currency}} </b>
              </ion-text>
            </ion-item>
            <ion-item lines="none" *ngIf="currentAmount.length > 0">
              <ion-text *ngFor="let filterValue of currentAmount | slice:0:1;">
                <p *ngIf="currentTontine.seance_courante && currentTontine.seance_courante.id === filterValue.seanceID">
                  {{ 'TONTINE_DETAIL_TEXT23' | translate }} <br />
                  <b>{{ filterValue.userID && filterValue.userID !== 0 ? filterValue.somme : '0' }}
                    {{currentTontine.tontine.monnaie}}</b><br />
                  {{ 'BY_TEXT' | translate}} {{ filterValue.userID && filterValue.userID !== 0 ?
                  getCreatorName(currentTontine.membres.liste_membre, filterValue.userID) : ('TONTINE_LIST_TEXT6' |
                  translate) }} <br />
                  {{ filterValue.userID && filterValue.userID !== 0 ? ('TONTINE_LIST_TEXT3B' | translate) : '' }} {{
                  filterValue.userID && filterValue.userID !== 0 ? (": #"+filterValue.numero_lot) : '' }}
                </p>
              </ion-text>
              <ion-button slot="end" color="warning" class="ion-text-capitalize" shape="round"
                (click)="showBidDetail(currentTontine.tontine.tontine_id)">
                {{ 'VIEW_BID' | translate }}
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
    <div class="block-4">
      <ion-row *ngIf="currentTontine && currentTontine.tontine && currentTontine.tontine.tontine_id">
        <ion-col size="12">
          <ion-list>
            <ion-item [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'session']"
              lines="none" detail>
              <ion-text>{{ 'CURRENT_SESSION_TEXT' | translate }}</ion-text>
            </ion-item>
            <ion-item *ngIf="isBid()" (click)="showBidDetail(currentTontine.tontine.tontine_id)"
              lines="none" detail>
              <ion-text>{{ 'VIEW_BID' | translate }}</ion-text>
            </ion-item>
            <ion-item *ngIf="!checkTontineCaution(currentTontine.tontine)"
              [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'members']"
              lines="none" detail>
              <ion-text>{{ 'TONTINE_DETAIL_TEXT15' | translate }}</ion-text>
            </ion-item>
            <ion-item *ngIf="checkTontineCaution(currentTontine.tontine)"
              [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'member-caution']"
              lines="none" detail>
              <ion-text>{{ 'TONTINE_DETAIL_TEXT15' | translate }}</ion-text>
            </ion-item>
            <ion-item *ngIf="isClassement()"
              [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'jackpot-order']"
              lines="none" detail>
              <ion-text>{{ 'VIEW_JACKPOT_LIST' | translate }}</ion-text>
            </ion-item>
            <ion-item [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'shares']"
              lines="none" detail>
              <ion-text>{{ 'SHARE_TEXT' | translate }}</ion-text>
            </ion-item>
            <ion-item [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'roles']"
              lines="none" detail>
              <ion-text>{{ 'ROLES_TEXT' | translate }}</ion-text>
            </ion-item>
            <ion-item [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'penalities']"
              lines="none" detail>
              <ion-text>{{ 'PENALITIES_TEXT' | translate }}</ion-text>
            </ion-item>
            <ion-item *ngIf="!isTraditionnal() && hasPaidCaution"
              [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'contrib-not-paid']"
              lines="none" detail>
              <ion-text>{{ 'CONTRIBUTION_NOT_PAID_TEXT' | translate }}
              </ion-text>
              <ion-badge *ngIf="nbContributions && nbContributions.length > 0" slot="end" color="light">
                {{nbContributions.length}}</ion-badge>
            </ion-item>
            <ion-item *ngIf="isLoan()"
              [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'loans']" lines="none"
              detail>
              <ion-text>{{ 'LOAN_MANAGER' | translate }}</ion-text>
            </ion-item>
            <ion-item
              *ngIf="isTraditionnal() || isLoan()"
              [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'debts']" lines="none"
              detail>
              <ion-text>{{ 'DEBTS_MANAGER' | translate }}</ion-text>
            </ion-item>
            <ion-item
              *ngIf="isTraditionnal() && !isLoan()"
              [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'session-no-paid']"
              lines="none" detail>
              <ion-text>{{ 'BENEFICIAL_STATUS' | translate }}</ion-text>
            </ion-item>
            <ion-item [routerLink]="['/', 'dashboard', 'my-tontines', currentTontine.tontine.tontine_id, 'wallet']"
              lines="none" detail>
              <ion-text>{{'TONTINE_WALLET_TEXT' | translate }}</ion-text>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding ion-text-center" *ngIf="showContributionBtn&&currentSeance || icanPayCaution(currentTontine)">
  <p class="ion-text-center" *ngIf="!checkPaidCaution || !hascheckPreviousSeance">
    <ion-spinner name="circles"></ion-spinner>
  </p>
  <ion-button expand="full"
    *ngIf="canContributeSeance(members.liste_membre)  && checkContributeCondition()"
    color="warning" class="ion-text-uppercase" shape="round" (click)="confirmPin()">
    {{ 'CONTRIBUTE_MSG' | translate }}
  </ion-button>
  <ion-button expand="full"
    *ngIf="!canContributeSeance(members.liste_membre)  && checkContributeCondition()"
    color="warning" class="ion-text-uppercase" shape="round">
    {{ 'TONTINE_LIST_CONTRIBUTE' | translate }}
  </ion-button>

  <ion-button expand="full" *ngIf="icanPayCaution(currentTontine)" color="warning"
    [disabled]="loadingPay" class="ion-text-uppercase" shape="round"
    (click)="confirmCautionPin(currentTontine,user.id)">
    {{ 'PAY_CAUTION_TEXT' | translate }} {{ '(' + cautionAmount + currentTontine.tontine.monnaie + ')'}}
  </ion-button>
</ion-footer>