<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeModal()">
        <ion-icon color="warning" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center subtitle">
      {{ 'TONTINE_LIST_TEXT1' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar placeholder="{{ 'M_NAME_TEXT' | translate }}" type="text" debounce="500" (ionChange)="searchForInvitation($event)" type="text"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-grid *ngIf="listData && listData.length > 0 ">
    <ion-row>
      <ion-col size="12">
        <ion-radio-group (ionChange)="selectData($event)">
          <ion-item *ngIf="type==='notification'">
            <ion-label>{{ 'ALL_TONTINE' | translate}}</ion-label>
            <ion-radio slot="end" [value]="{id: -1, name: ('ALL_TONTINE' | translate) }"></ion-radio>
          </ion-item>
          <ion-item  *ngFor="let data of listData">
            <ion-label>{{ data && data.name ? data.name : '' }}</ion-label>
            <ion-radio slot="end" [value]="data"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>