<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" [defaultHref]="'/dashboard/my-tontines/'+ currentTontine.tontine.tontine_id +'/debts/due'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
        <ion-img [src]="'assets/join-icon.svg'" class="thumb-img"></ion-img>
    </ion-avatar>
    <ion-title class="no-padding">
     {{'DEBTS_IN_PROCESS' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle" *ngIf="reference">
    <ion-title>ref.: {{reference ? reference : '' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="in-progress">
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <ion-grid>
    <ion-row *ngIf="currentUser">
      <ion-col size="12">
        <ion-text><b>{{'M_NAME_TEXT' | translate }}: </b> {{currentUser && currentUser.firstname ? currentUser.firstname : ''}} {{currentUser && currentUser.lastname ? currentUser.lastname : ''}}</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text><b>{{'PHONE_TEXT' | translate}}: </b> {{currentUser && currentUser.phone_with_prefix ? currentUser.phone_with_prefix : ''}}</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text><b>{{'EMAIL_TEXT' | translate}}: </b> {{currentUser && currentUser.email ? currentUser.email : ''}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="myDebts && myDebts.length > 0">
      <ion-col><ion-text color="primary"><h4 class="ion-no-margin">{{'DETAIL_OF_DEBTS' | translate}}</h4></ion-text></ion-col>
    </ion-row>
    <ion-row  *ngIf="myDebts && myDebts.length > 0">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let debt of myDebts">
            <ion-label>
              <p>                
                <span class="ion-float-left"><small>{{ 'DATE_TEXT' | translate }}: </small>{{  debt && debt.created_at ? (debt.created_at.split(' ')[0] | date :'mediumDate') : ''}}</span>
                <span class="ion-float-right"><b><small>{{ 'CYCLE_TEXT' | translate }}/{{'SESSION_TEXT' | translate}}: </small>{{  debt && debt.numero_cycle ? debt.numero_cycle : 0  }}/{{ debt && debt.numero_seance ? debt.numero_seance : 0 }}</b></span> 
              </p>
              <h3>{{ debt.description ? (debt.description | translate) : '' }}</h3>
              <h2><ion-text color="warning">{{ debt.montant ? (debt.montant | commadumper) : 0}} {{currentTontine.tontine.monnaie }}</ion-text></h2>
            </ion-label>            
          </ion-item>
          <ion-item>
            <ion-label>
              <div class="ion-text-end">
                <p>{{'DEBT_TOTAL_DUE' | translate }}: <b>{{(totalBill | commadumper)}} {{currentTontine.tontine.monnaie }}</b></p>
                <p>{{'DEBT_TOTAL_PAID' | translate }}: {{0}} {{currentTontine.tontine.monnaie }}</p>
                <p><ion-text color="danger">{{ 'DEBT_BALANCE' | translate}}: <b>{{(totalBalance | commadumper)}} {{currentTontine.tontine.monnaie }}</b></ion-text></p>
              </div>
            </ion-label>            
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding ion-text-center" *ngIf="proofsList && proofsList.length === 0  && !loading && totalBill !== 0">
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-button expand="full"  [disabled]="loadingPay"  (click)="saveBill(0)"
              fill="outline"
              color="warning" 
              class="ion-text-uppercase"
              shape="round">
          {{'PAY_LATER_TEXT' | translate}}
        </ion-button>
    </ion-col>
      <ion-col>
          <ion-button expand="full"  [disabled]="loadingPay" 
                color="warning" 
                class="ion-text-uppercase"
                shape="round"
                (click)="confirmPin()">
           {{'DEBT_MAKE_PAYMENT' | translate}}
          </ion-button>
      </ion-col>      
    </ion-row>
    <p *ngIf="loadingPay" class="ion-text-center ion-padding">
      <ion-spinner  name="circles"></ion-spinner>
    </p>
  </ion-grid>
</ion-footer>
