<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">{{ 'PENALITY_PAYMENT' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="tontine-penality">
    <h4 class="ion-padding-horizontal"><small>{{ 'TONTINE_LIST_PAID' | translate }} <i>{{ subject }}</i> {{ 'M_PENALTY_FOR_TONTINE' | translate }} : <b>{{ tontineName }}</b></small></h4>
    <app-paidmode [amountPay]="amountToPay"></app-paidmode>
  </ion-content>
  
  <ion-footer class="ion-padding ion-text-center">
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-button expand="full" 
                    fill="outline"
                    color="warning" 
                    class="ion-text-uppercase"
                    shape="round" (click)="closePenalityPay()">
                {{ 'CANCEL_TEXT' | translate }}
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-footer>
