<ion-header>
  <ion-toolbar class="with-logo2">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/dashboard/my-tontines"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title-md-right">
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-segment (ionChange)="segmentChanged()" [value]="segmentValue">
      <ion-segment-button value="invit">
        <ion-label class="ion-text-capitalize">{{ 'TONTINE_INVITED_TEXT1' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-label class="ion-text-capitalize">{{ 'M_ALL_INVITATIONS' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div class="invited" *ngIf="isInvitSelected === true">
  <ion-text>
    {{ 'M_INVITE_MEMBERS' | translate }}
  </ion-text>
  <app-tontine-invited></app-tontine-invited>
</div>
<div class="invited" *ngIf="isInvitSelected === false">
  <app-invitation-list></app-invitation-list>
</div>

</ion-content>
