<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-wrap">{{ 'SEND_SWAP_REQUEST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding send-swap-request">
  <p>
    {{ 'REQUEST_TEXT_1' | translate}} {{ swapRequestForm.value.currency_from }}
    {{ 'TO_TEXT' | translate }} {{ swapRequestForm.value.currency_to }} {{ 'REQUEST_TEXT_2' | translate }} :
  </p>
  <p>
    <b>
      <ion-text color="warning">{{ swapRequestForm.value.amount_from }}
        {{ swapRequestForm.value.currency_from }}
      </ion-text>
      <ion-icon name="arrow-forward"></ion-icon>
      <ion-text color="primary">{{ swapRequestForm.value.amount_to }}
        {{swapRequestForm.value.currency_to }}
      </ion-text>
    </b>
  </p>

  <form [formGroup]="swapRequestForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p> {{'EXCHANGE_RATE' | translate }} :</p>
        </ion-col>
      </ion-row>
      <ion-row class="swapform">
        <ion-col size="4" class="ion-align-items-stretch">
          <ion-item lines="none" class="swapamount">
            <ion-input type="text" formControlName="exchange_from"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="ion-align-items-stretch">
          <ion-item class="swapamount">
            <ion-input (ionChange)="updateExchangeRate(swapRequestForm.value.exchange_rate)" type="number" formControlName="exchange_rate" required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3" class="ion-align-items-stretch">
          <ion-item lines="none" class="swapamount">
            {{swapRequestForm.value.currency_to}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <p>
    {{'MATCHING_FEES_TEXT' | translate }}: {{swapRequestForm.value.fees}} {{swapRequestForm.value.currency_from}} <br />
   <!--  {{ 'SWAP_TOTAL_AMOUNT' | translate }} : {{ amountSwap }} {{swapRequestForm.value.currency_from}} -->
  </p>
  <ion-item>
    <ion-label>{{ 'SWAP_TYPE_TEXT' | translate }}</ion-label>
    <ion-select [(ngModel)]="swapType" ngModelOptions="{standalone: true}">
      <ion-select-option [value]="type.id" *ngFor="let type of swapTypes">{{ getType(type.description) }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <p class="ion-padding-vertical" *ngIf="swapType === 1 && canMakeRequest" [innerHTML]="'INSTANT_SWAP_DESCRIPTION' | translate">
  </p>

  <p class="ion-padding-vertical" *ngIf="swapType === 1 && !canMakeRequest">
    {{ 'CANT_MAKE_INSTANT_SWAP_DESCRIPTION' | translate : {balance : (amountSwap + ' ' + swapRequestForm.value.currency_from) } }}
  </p>

  <p class="ion-padding-vertical" *ngIf="swapType === 2" [innerHTML]="'DELAYED_SWAP_DESCRIPTION' | translate">
  </p>
  <p class="ion-padding-vertical"><strong>{{ 'EXPIRED_REQUEST_TEXT' | translate }}</strong></p>

</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" color="warning" class="ion-text-uppercase" shape="round" (click)="makeSwapRequest()"
          [disabled]="!swapType || swapRequestForm.invalid || (swapType === 1 && !canMakeRequest)">
          {{ 'SEND_TEXT' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" fill="outline" color="warning" class="ion-text-uppercase" shape="round"
          (click)="closeAddMember()">
          {{ 'CANCEL_TEXT' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>