<ion-grid>     
  <ion-row>
    <ion-col>
      <h4>{{ 'ARCHIVE_SWAP_TEXT' | translate }}</h4> 
      <p> {{ 'ARCHIVE_SWAP_MESSAGE' | translate }} <br/>
        <b>
        <ion-text color="warning">{{requestData.amount_from}} {{requestData.infos_currency_from.name}}</ion-text> 
        <ion-icon name="arrow-forward"></ion-icon> 
        <ion-text color="primary">{{requestData.amount_to}} {{requestData.infos_currency_to.name}}</ion-text>
      </b>
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="warning" fill="outline" (click)="close()">{{ 'NO_TEXT' | translate }}</ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button color="warning" (click)="archiveSwap()">{{'YES_TEXT' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>