<ion-header>
  <ion-toolbar class="with-logo2">
    <ion-buttons slot="start">
      <ion-back-button color="primary" [defaultHref]="'/dashboard/my-tontines/' + currentTontine.tontine.tontine_id + '/wallet'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title-md-right">
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle ion-padding">
    <ion-title>{{ 'MENU_MY_WALLET' | translate }}: <ion-text color="primary" class="ion-text-capitalize">{{ 'HISTORY_PAGE_TITLE' | translate }}</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <span *ngIf="!loading">{{'TOTAL_TRANS_TEXT' | translate }}: {{activelistTransactions && activelistTransactions.length > 0 ? allData.length : activelistTransactions.length }}</span>
        <ion-list>
          <ion-item  *ngFor="let transaction of activelistTransactions">
            <ion-label>
              <ion-text color="primary"><h2>
                <span>
                  <ion-icon [color]="transaction.status === 'entrant' ? 'success' :  'danger'" [name]="transaction.status === 'entrant' ? 'arrow-back' :  'arrow-forward'" ></ion-icon>
                 </span>
                <small>{{'TONTINE_USERS_TEXT5' | translate }}: </small><b>{{transaction.firstname ? transaction.firstname  : ''}} {{transaction.lastname ? transaction.lastname  : ''}}</b>
              </h2></ion-text>
              <p><small>Ref.:</small>  {{transaction.reference_transaction ? transaction.reference_transaction : ''}}</p>
              <p><small>{{'DATE_TEXT' | translate }}: </small> {{transaction.updated_at ? transaction.updated_at : ''}} </p>
              <p>
                <ion-text color="dark">
                  <span class="ion-float-left"><small>{{'TYPE_TEXT' | translate }}: </small>{{transaction.status ? getTransactionFlux(transaction.status) : ''}}</span>
                  <span class="ion-float-right"><small>{{ 'REASON_TEXT' | translate}}: </small>{{transaction.status_transaction ? getTransactionType(transaction.status_transaction) : ''}}</span>
                </ion-text>
              </p>
              <h2><ion-text color="warning"><small>{{'AMOUNT_TEXT' | translate}}: </small><b>{{transaction.amount ? transaction.amount : ''}} {{transaction.currency_name ? transaction.currency_name : ''}}</b></ion-text></h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div  *ngIf="activelistTransactions && activelistTransactions.length === 0 && !loading">
    <p  class="ion-text-center"> {{ 'HISTORY_TEXT3' | translate }}</p>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
