<ion-list class="swap-menu-popover">
  <ion-item lines="none">
    <ion-label (click)="gotoSwapNotPaid()">
      {{'PENDING_PESU_SWAP_TEXT' | translate}}
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label (click)="gotoSwapNotifications()">
      {{'NOTIFICATION_TEXT' | translate}}
    </ion-label>
  </ion-item>
  <ion-item  *ngIf="requests.length > 0" lines="none" (click)="archiveSwap()" >
    <ion-label>
      {{ 'MENU_ARCHIVE_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>