<ion-header>
  <ion-toolbar class="with-logo2">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/dashboard/tontines-events"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title-md-right">
        <ion-img class="logo" [src]="'assets/logo-toupesu.svg'"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center subtitle">
    <ion-title>{{ 'MENU_JOIN_EVENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="join-tontine">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-text >{{ 'JOIN_TONTINE_EVENT_MSG' | translate }}  {{name}} : </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <form [formGroup]="joinTontineForm">
              <ion-item>
                <ion-label position="floating">{{ 'JOIN_TONTINE_MSG1_EVENT' | translate }}</ion-label>
                <ion-input type="text" formControlName="code_invitation" required></ion-input>
              </ion-item> 
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.code">
                  <div class="error-message" *ngIf="joinCode.hasError(validation.type) && (joinCode.dirty || joinCode.touched)">
                    <ion-icon name="information-circle-outline" ></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div> 
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button expand="full" [disabled]="joinTontineForm.invalid || loading" (click)="joinTontine()"
                color="warning" 
                class="ion-text-uppercase"
                shape="round">
                {{ 'JOIN_TEXT' | translate }}
          </ion-button>
        </ion-col>
    </ion-row>
    <p class="ion-text-center"  *ngIf="loading">
      <ion-spinner  name="circles"></ion-spinner>
    </p>
  </ion-grid>
</ion-footer>
