<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'ADD_BANK_PROFIL_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addBankForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> {{ 'WITHDRAWAL_TEXT7' | translate }}</ion-label>
            <ion-input type="text" formControlName="bank_name" required></ion-input>
          </ion-item> 
          <div class="validation-errors">
            <div class="error-message" *ngIf="bank.invalid && (bank.dirty || bank.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ 'BANK_NAME_REQUIRED' | translate }}
            </div>
          </div>       
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item >
            <ion-label position="floating">{{ 'BRANCH_NAME' | translate }}</ion-label>
            <ion-input type="text" formControlName="branch_name"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <div class="error-message" *ngIf="branchName.invalid && (branchName.dirty || branchName.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ 'BRANCH_NAME_REQUIRED' | translate }}
            </div>
          </div>  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item >
            <ion-label position="floating">{{ 'BRANCH_CODE' | translate }}</ion-label>
            <ion-input type="number" formControlName="branch_code"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <div class="error-message" *ngIf="branchCode.invalid && (branchCode.dirty || branchCode.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ 'BRANCH_CODE_REQUIRED' | translate }}
            </div>
          </div>  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> {{ 'WALLET_ACCOUNT_HOLDER_NAME' | translate }}</ion-label>
            <ion-input type="text" formControlName="nom_proprietaire" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <div class="error-message" *ngIf="proprietaryName.invalid && (proprietaryName.dirty || proprietaryName.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ 'ACCOUNT_HOLDER_REQUIRED' | translate }}
            </div>
          </div>        
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'WALLET_ACCOUNT_NAME' | translate}}</ion-label>
            <ion-input type="text" formControlName="account_name" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <div class="error-message" *ngIf="accountName.invalid && (accountName.dirty || accountName.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ 'ACCOUNT_NAME_REQUIRED' | translate }}
            </div>
          </div>        
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'WALLET_ACCOUNT_NUMBER' | translate}}</ion-label>
            <ion-input type="text" formControlName="account_number" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <div class="error-message" *ngIf="accountNber.invalid && (accountNber.dirty || accountNber.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ 'ACCOUNT_NUMBER_REQUIRED' | translate }}
            </div>
          </div>        
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> {{'ADDRESS_TEXT' | translate}}</ion-label>
            <ion-input type="text" formControlName="address" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <div class="error-message" *ngIf="address.invalid && (address.dirty || address.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ 'ADDRESS_REQUIRED' | translate }}
            </div>
          </div>        
        </ion-col>
      </ion-row>      
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
    <ion-grid>
      <ion-row>   
        <ion-col>
            <ion-button expand="full" 
                  color="warning" [disabled]="addBankForm.invalid || loading"
                  class="ion-text-uppercase"
                  shape="round" (click)="addAccount()">
                  {{'SAVE_TEXT' | translate }}
            </ion-button>
        </ion-col>   
        <ion-col>
            <ion-button expand="full" 
                  fill="outline"
                  color="warning" 
                  class="ion-text-uppercase"
                  shape="round" (click)="closeAddBank('cancel')">
              {{'CANCEL_TEXT' | translate }}
            </ion-button>
        </ion-col>
      </ion-row>
      <p class="ion-text-center" *ngIf="loading"> 
        <ion-spinner  name="circles"></ion-spinner>
      </p>
    </ion-grid>
  </ion-footer>