/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* ----------- General custom style ---------- */
a, a:focus, a:visited, a:link {
    outline: none;
    text-decoration: none;
}
.header-md:after, .footer-md::before {
    background-image: none;
}
html.ios, html.md {
    --ion-default-font: "Open Sans", "Roboto", sans-serif;
    font-weight: 300;
}
#color-ndop1, #color-ndop2 {
    position: absolute;
    width: 100%;
    right: 50%;
    left: 50%;
    bottom: -8rem;
    transform: translateX(-50%) rotate(-32.5deg);
    polygon {
        fill:#7db141;
    }
}
#color-ndop2 {
    polygon {
        fill: #1077ac;
    }
}
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}
ion-button {
    font-weight: 400;
}
b, strong {
    font-weight: 400;
}
.text-share {
    color: rgba(255, 153, 51, .7);
}

.border-lr {
    border-left: 1px solid rgba(102,102,102,.2);
    border-right: 1px solid rgba(102,102,102,.2);
}
.donut-wrap {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    min-width: 320px;
    position: relative;
    .donut {
        width: 300px;
        height: 150px;
        position: relative;
        margin: auto;
        text-align: center;
        border-radius: 150px 150px 0 0;
        overflow: hidden;
        .donut-text {
            position: absolute;
            top: 68%;
            left: 0;
            right: 0;
            small {
              font-weight: unset;
            }
            p {
              margin: 0;
              font-weight: 500;
              font-size: 1.3rem;
            }
        }
        &:before, &:after {
            content: "";
            width: 230px;
            height: 115px;
            border: 30px solid #007bff;
            border-top: none;
            position: absolute;
            transition: 0.3s;
            transform-origin: 50% 0%;
            border-radius: 0 0 300px 300px;
            animation: donut 2s;
            left: 0;
            top: 100%;
            z-index: 5;
        }
    }
    .donut:before {
        border-color: #1077ab;
    }
    .donut0:before {
        transform: rotate(0deg);
    }
    .donut10:before {
        transform: rotate(18deg);
    }
    .donut20:before {
        transform: rotate(36deg);
    }
    .donut30:before {
        transform: rotate(54deg);
    }
    .donut40:before {
        transform: rotate(72deg);
    }
    .donut50:before {
        transform: rotate(90deg);
    }
    .donut60:before {
        transform: rotate(108deg);
    }
    .donut70:before {
        transform: rotate(126deg);
    }
    .donut80:before {
        transform: rotate(144deg);
    }
    .donut90:before {
        transform: rotate(162deg);
    }
    .donut100:before {
        transform: rotate(180deg);
    }
    .donut:after {
        z-index: 3;
        border-color: rgba(0, 0, 0, 0.15);
        transform: rotate(180deg);
    }
    .donut:hover:before {
        opacity: .8;
        cursor: pointer;
    }
    .donut:hover + .tooltip {
        bottom: 98%;
        opacity: 1;
    }
    .tooltip {
        position: absolute;
        background: #eee;
        padding: 3px;
        font-weight: 100;
        font-size: 12px;
        border-radius: 2px;
        border: 1px solid #ddd;
        bottom: 100%;
        left: 50%;
        opacity: 0;
        transition: 0.3s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .tooltip:after {
        content: "" attr(tooltip) "";
        margin-left: 3px;
        color: #1077ab;
    }
    .tooltip:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #1077ab;
        display: inline-block;
        margin-right: 5px;
    }
}
.donut-legend {
    p {
        margin: 0;
    }
    .legend-color1 {
        span {
        margin-left: 15px;
        color: #1077ab;
        font-weight: 600;
        }
    }
    .legend-color2 {
        span {
        margin-left: 15px;
        color: #919191;
        font-weight: 600;
        }
    }
    .legend-color1:before, .legend-color2:before {
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 5px;
    }
    .legend-color1:before {
        background: #1077ab;
    }
    .legend-color2:before {
        background: #d9d9d9;
    }
}
ion-toolbar.with-logo {
    .title-md {
        padding-inline-start: 0;
        padding-inline-end: 40px;
    }
}
ion-toolbar.with-logo2 {
    .title-md {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    .title-md-right {
        padding-right: 40px;
    }
}

ion-toolbar.subtitle {
    .title-ios.title-default,
    .title-md.title-default {
        padding-inline-start: 5px;
        padding-inline-end: 5px;
        font-weight: 400;
        font-size: 1.1rem;
    }
}
ion-toolbar {
    --min-height: 60px;
    .logo {
        height: 3rem;
        margin: 10px auto 0 auto;
    }
    .logo-no-right-slot {
        height: 3rem;
        margin: 10px auto 0 auto;
    }
    .logo-arrow-no-right-slot.md {
        height: 3rem;
       margin: 10px auto 0 -48px;
    }
    .logo-no-right-slot.md {
        margin: 10px auto 0 40px;
    }
    .logo-all-slot.md {
        margin: 0;
    }
    ion-title {
        font-weight: 400;
        font-size: 1.1rem;
    }
}
ion-button.button-round {
    --border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 2.8em;
    font-size: .99rem;
    font-weight: 400;
}
ion-img.inner-image,
svg.inner-image {
    height: 8rem;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
ion-header ion-avatar ion-img,
ion-header ion-avatar img.thumb-img {
    margin-left: 5px;
}
ion-header.header-md ion-avatar ion-img,
ion-header.header-md ion-avatar img.thumb-img {
    margin-left: 0;
}
ion-avatar {
    height: 40px;
    width: 40px;
    ion-img {
        height: 40px;
        width: 40px;
        padding: 2px;
    }
}
ion-title.no-padding.md {
    padding: 0;
}
ion-title.no-padding.ios {
    padding-left: 110px;
    text-align: left;
}
ion-backdrop {
    background-color: transparent;
}
.sc-ion-popover-md-h, .sc-ion-popover-ios-h {
    --width: auto;
    --box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.2);
}
.label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h,
.label-floating.sc-ion-label-ios-h, .label-stacked.sc-ion-label-ios-h,
.item-has-focus.label-floating.sc-ion-label-md-h,
.item-has-focus .label-floating.sc-ion-label-md-h,
.item-has-placeholder.label-floating.sc-ion-label-md-h,
.item-has-placeholder .label-floating.sc-ion-label-md-h,
.item-has-value.label-floating.sc-ion-label-md-h,
.item-has-value .label-floating.sc-ion-label-md-h,
.item.item-datetime .sc-ion-label-md-h,
.item.item-datetime .sc-ion-label-ios-h,
.item.item-select .sc-ion-label-ios-h,
.item-select .sc-ion-label-md-h, .item-select .sc-ion-label-ios-h,
.item .sc-ion-label-ios-h.text-share {
    --color: rgba(255, 153, 51, .7);
}
.searchbar-input.sc-ion-searchbar-md {
    box-shadow: none;
    border: 1px solid #dcdcdc;
    background: gainsboro;
    border-radius: 15px;
}
.slot-prefix {
    margin-top: 30px;
}
.header-search-bg {
    background: #1077ab;
    ion-item {
        border: 1px solid #1077ab;
        border-radius: 5px;
        --min-height: 28px;
        --inner-border-width: 0;
        ion-label {
            margin: 0;
        }
    }
}
.sc-ion-segment-ios-hion-toolbar.sc-ion-segment-ios-s > ion-segment-button,
ion-toolbar .sc-ion-segment-ios-h.sc-ion-segment-ios-s > ion-segment-button {
    max-width: 150px;
    font-size: 13px;
    line-height: 24px;
}
.alert-wrapper.sc-ion-alert-ios {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
}
.error-message > span {
    margin-left: 5px;
    font-size: 1rem;
}
/* ----------- Pot status custom style ---------- */
.pot-status {
    .pot-rate {
        fill: none;
        stroke: #f4c17f;
        stroke-miterlimit: 10;
        stroke-width: 0.25px;
        object-fit: cover;
        clip-path: url(#pot-cursor);
    }
    .pot-rate-session {
        fill: none;
        stroke: #f4c17f;
        stroke-miterlimit: 10;
        stroke-width: 0.25px;
        object-fit: cover;
        clip-path: url(#pot-cursor-session);
    }
    .pot-rate-event {
        fill: none;
        stroke: #f4c17f;
        stroke-miterlimit: 10;
        stroke-width: 0.25px;
        object-fit: cover;
        clip-path: url(#pot-cursor-event);
    }
    .pot-rate-color-1 {
        fill: #1077ac;
    }
    .pot-rate-color-2 {
        fill: #eea83c;
    }
    .pot-rate-color-3 {
        fill: #1077ac;
    }
    .pot-rate-color-4 {
        fill: none;
        stroke: #f4c17f;
        stroke-miterlimit: 10;
        stroke-width: 0.25px
    }
    .pot-rate-color-5 {
        fill: #fff;
    }
    .pot-rate-text {
        font-size: 7px;
        fill: #000;
        font-family: SFProText-Bold, 'SF Pro Text';
        font-weight: 700;
    }
    .pot-rate-0 {
        transform: translateY(28px);
    }
    .pot-rate-15 {
        transform: translateY(24px);
    }
    .pot-rate-30 {
        transform: translateY(20px);
    }
    .pot-rate-45 {
        transform: translateY(18px);
    }
    .pot-rate-60 {
        transform: translateY(14px);
    }
    .pot-rate-75 {
        transform: translateY(10px);
    }
    .pot-rate-90 {
        transform: translateY(8px);
    }
    .pot-rate-100 {
        transform: translateY(0);
    }
}

#pay-btn-shape, #pay-btn-shape1, #pay-btn-shape2 {
    transform: translate(-0.84px, -0.89px);
}
.wrap-pay-btn {
    #pay-btn, #pay-btn1, #pay-btn2 {
        width: 25%;
        height: auto;
        .arc-part {
            transform: translate(-0.84px, -0.89px)
        }
        .inner-pot {
            fill: #f93;
        }
        .arc-part {
            fill: #f93;
        }
        .pot-entry {
            fill: #fff;
            transform: translate(-0.84px, -0.89px);
        }
        .pay-text {
            transform: translate(6.2px, 19.55px);
            font-size: 12px;
            fill: #fff;
            font-family: Nyala-Regular, Nyala;
        }
    }
    #pay-btn {
        .pay-btn-border {
            clip-path: url(#pay-btn-shape);
        }
    }
    #pay-btn1 {
        .pay-btn-border {
            clip-path: url(#pay-btn-shape1);
        }
    }
    #pay-btn2 {
        .pay-btn-border {
            clip-path: url(#pay-btn-shape2);
        }
    }
}


/* ----------- Terms and condition page custom style ---------- */
.welcome {
    .welcome-title {
        font-weight: 500;
        overflow: visible !important;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
    }
}
.home-policy ion-grid,
.home-policy ion-row,
.home-policy ion-col,
.home-policy ion-img {
    height: 100%
}

/* ----------- Register phone page custom style ---------- */
.register-phone {
    --padding-top: 40%;
}

/* ----------- Verify phone page custom style ---------- */
.verify-phone {
    --padding-top: 40%;
    .usertel {
        font-weight: 600;
        font-size: 1.3rem;
    }
    .item-interactive {
        --border-width: 1px;
        --background: #ffffff;
        --background-activated: #ffffff;
        --background-focused: #ffffff;
        --background-hover: #ffffff;
        text-align: center;
        text-transform: uppercase;
        --inner-border-width: 0px 0px 0px 0px;
    }
    .resend {
        color: var(--ion-color-warning);
        font-weight: 400;
    }
}

/* ----------- dashboard page custom style ---------- */
.dashboard {
    --padding-top: 15%;
    --ion-grid-column-padding: 10px;
    /* --background: #fcfcfc url(./assets/pattern.png) bottom center repeat-x; */
    .thumb-img {
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.dashboard > ion-grid > ion-row > ion-col {
    border: 1px solid #ccc;
    background: #fff;
    margin: 0.5rem;
    border-radius: .5rem;
}
.dashboard-menu-popover {
    margin-bottom: 0;
    font-size: .99rem;
    .item-label {
        font-weight: 300;
    }
}

/* ----------- My tontine page custom style ---------- */
.my-tontine {
    .sc-ion-card-ios-h, .sc-ion-card-md-h {
        margin-top: 0;
    }
    ion-col.col-button:last-child {
        border-left: 1px solid #fff;
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        background-color: #b0bec5;
        ion-grid, ion-col {
            padding: 0;
        }
        .col-img {
           padding: 0 0.2rem;
        }
        .col-content {
            background-color: #f9f9ff;
        }
        .col-content > ion-card-content > ion-row > ion-col:first-child {
            border-right: 0 solid #f9f9ff
        }
        ion-card-header {
            padding: 5px;
            border-bottom: 1px solid #ccc;
            ion-card-title {
                font-size: .99rem;
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        ion-card-header+.card-content-md,
        ion-card-header+.card-content-ios {
            padding: 0;
        }
        ion-card-content {
            .col-button {
                background-color: var(--ion-color-warning);
                color: #000;
                padding-top:0.2rem;
            }
            .col-button.contributed {
                background-color: var(--ion-color-success);
                .menu-amount {
                    font-size: .8rem;
                    font-weight: 400;
                    line-height: 1.1rem;
                }
            }

            .col-button.inactive {
                background-color: #e9ecef;
                .menu-amount {
                    font-size: .8rem;
                    font-weight: 400;
                    line-height: 1.1rem;
                }
            }
        }
        ion-card-subtitle {
            margin-top: 1.5rem;
            text-transform: none;
        }
        .desc {
            font-size: 11px;
            font-weight: 400;
        }
        .menu-amount {
            font-weight: 600;
            font-size: 15px;
        }
    }

}

.mytontines-menu-popover {
    margin-bottom: 0;
    font-size: .99rem;
    .item-label {
        font-weight: 300;
    }
}

/*------------ new tontine page custom style --------- */
.tontine-new {
    .periodicity {
        background-color: antiquewhite;
    }
}

/* ----------- invitation page custom style ---------- */
#invitation-list {
    ion-avatar {
        margin-inline-end: 0;
    }
    .button-area {
        text-align: right;
        margin-top: 0.9rem;
    }
}

/* ----------- My invitation page custom style ---------- */
my-invitation {
    h2 {
        font-weight: 600 !important;
    }
}

/* ----------- History page custom style ---------- */
#history {
    h2 {
        font-weight: 600 !important;
    }
}


/* ----------- Tontine detail page custom style ---------- */
.tontine-detail {
    .sc-ion-card-ios-h, .sc-ion-card-md-h {
        margin-top: 0;
    }
    ion-icon[color="danger"] {
        margin-right: 5px;
        font-size: 1.3rem;
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        ion-grid, ion-col {
            padding: 0;
        }

    }
    .block-1 {
        background-color: #f9f9ff;
        margin-bottom: 0;
        .desc {
            font-size: 0.8rem;;
            line-height: 1rem;
            font-weight: 600;
        }
        .menu-amount {
            font-weight: 600;
            line-height: 1.1rem;
            font-size: 1rem;
            color: var(--ion-color-warning);
        }
        .t-balance {
            background-color: antiquewhite;
        }

    }
    .block-1 > ion-card-content {
        padding: 5px;
    }
    .block-2 {
        position: relative;
        .row-1, .row-2 {
            border-bottom: 1px solid #ccc;
        }
        b {
            font-size: 12px;
            color: var(--ion-color-primary);
        }
        .edit-btn {
            position: absolute;
            top: 1rem;
            right: 0;
        }
        ion-label {
            p {
                font-size: 16px;
            }
        }
    }
    .block-3 {
        ion-button {
            --padding-start: 1.5rem;
            --padding-end: 1.5rem;
            --padding-top: 0.5rem;
            --padding-bottom: 0.5rem;
            height: 1.8rem;
        }
        .list-ios {
            margin-bottom: 10px;
        }
        ion-item {
            --background: #f9f9ff;
            font-size: 14px;
            ion-list {
                padding-top: 0;
                padding-bottom: 0;
                ion-text {
                    padding: 2px 0
                }
            }
        }
    }
    .block-4 {
        ion-item {
            --background: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
            margin-bottom: 2px;
        }
    }
}
.tontine-contribute {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        margin: 5px;
    }

}
.tontine-wallet {
    .t-balance {
        background-color: antiquewhite;
    }
    .sub-balance {
        background-color: #f9f9ff;
        margin-bottom: .5rem;
    }
    .line-height095 {
        line-height: .95rem;
        border-right: 1px solid #ccc;
    }
    .line-height095:last-child {
        border-right: 0 solid #ccc;
    }
    .desc {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .menu-amount {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .online-offline {
        border-top: 1px dashed #ccc;
        margin-top: .5rem;
        padding-top: .5rem;
        .menu-amount {
            color: darkgray;
        }
    }
    .padding-trans {
        border-top: 1px solid #ccc;
    }
    .trans-item {
        ion-card {
            box-shadow: 0 0 1px rgba(0, 0, 0, .5);
            border: 1px solid #ccc;
            background-color: #f9f9ff;
            ion-item {
                --background: #f9f9ff;
            }
            ion-card-header {
                padding: .2rem;
            }
            ion-card-content {
                padding: 0.4rem 1rem;
                border-bottom: .5px solid gainsboro;
            }
        }
        .btn-icon-only {
            --background-activated: gainsboro;
            --background: transparent;
            --background-focused: gainsboro;
            --background-hover: gainsboro;
        }
    }
}
.tontine-topup {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        background-color: #fff;
        ion-item {
            --background: #fff;
        }
    }
    .block-1 {
        background-color: #f9f9ff;
        margin-bottom: 0;
        .desc {
            font-size: 11px;
            font-weight: 600;
        }
        .menu-amount {
            font-weight: 600;
            font-size: 15px;
            color: var(--ion-color-warning);
        }
    }
    .block-1 > ion-card-content {
        padding: 5px;
    }
}

.initiate-pay {
    .checkout-list {
        background-color: antiquewhite;
        margin: .5rem .25rem .5rem 1rem;
        padding: 0;
        border-radius: .75rem;
        border: 1px solid darkorange;
        ion-item {
            border: 1px solid #1077ab;
            border-radius: 5px;
            --min-height: 28px;
            --inner-border-width: 0;
        }
    }
}

.paidmode {

    .logooperator {
        width: 80%;
        padding: 0 0 5px 0;
    }
    background-color: #fff;
    ion-item {
        --background: none;
        ion-label {
            color: #ccc;
        }
    }
}

.add-member {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
    }
    .mber-invited {
        background-color: #fff;
        ion-item {
            --background: none;
            ion-label {
                color: #ccc;
            }
        }
    }
}
.tontine-detail-menu-popover {
    margin-bottom: 0;
    font-size: .99rem;
    .item-label {
        font-weight: 300;
    }
}
.my-penalities {
    .pay-btn {
        --box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    }
    ion-text {
        padding: 0 .5rem;
    }
}

/* ----------- Session not paid page custom style ---------- */
.session-not-paid {
    .benef-item {
        h3 {
            position: relative;
            fa-icon {
                position: absolute;
                top: -.25rem;
            }
            span {
                display: block;
                margin: .75rem 0 1rem 2rem;
            }
        }
    }
}


/* ----------- Tontine (detail) debts page custom style ---------- */

.debts-menu-popover {
    margin-bottom: 0;
    font-size: .99rem;
    .item-label {
        font-weight: 300;
    }
}

.debts-due {
    .sc-ion-card-ios-h, .sc-ion-card-md-h {
        margin-top: 0;
    }
    ion-icon[color="danger"] {
        margin-right: 5px;
        font-size: 1.3rem;
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        ion-grid, ion-col {
            padding: 0;
        }

    }
    .block-1 {
        background-color: #f9f9ff;
        margin-bottom: 0;
        .desc {
            font-size: 0.8rem;;
            line-height: 1rem;
            font-weight: 600;
        }
        .menu-amount {
            font-weight: 600;
            line-height: 1.1rem;
            font-size: 1rem;
            color: var(--ion-color-primary);
        }
    }
    .block-1 > ion-card-content {
        padding: 5px;
    }
    .block-1 > ion-card-content > ion-row:first-child {
        margin-bottom: 5px;
    }
}
.in-progress {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        ion-grid, ion-col {
            padding: 0;
        }
        ion-card-content {
            padding: 5px;
        }
    }
}
.in-approval-detail {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        ion-grid, ion-col {
            padding: 0;
        }
        ion-card-content {
            padding: 5px;
        }
    }
}


/* ----------- Tontine bid page custom style ---------- */
.bid {
    .bid-info {
        position: relative;
        .row-1 {
            margin-bottom: 1rem;
        }
        .row-1, .row-2 {
            ion-col:first-child {
                border-right: 1px solid #ccc;
            }
            b {
                font-size: 12px;
                color: var(--ion-color-primary);
            }
        }
        .edit-btn {
            position: absolute;
            top: 1rem;
            right: 0;
        }
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        border: 1px solid  #ccc;
        background-color: #fff;
        ion-card-header {
            padding-bottom: 5px;
        }
        .countdown {
            margin-top: 11px;
        }
    }

}

/* ----------- Tontine (detail) session page custom style ---------- */



/* ----------- Tontine (detail) member page custom style ---------- */
.detail-members {
    .mytontine-icon {
        position: relative;
        display:block;
        margin: 0 auto;
        height: 2.37rem;
        #pot-status-path {
            path {
                fill: none;
            }
        }
        .cls-3 {
            fill: #f04141;
            transition: color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        .cls-4 {
            clip-path: url(#pot-status-path);
        }
        .cls-5 {
            fill: #fff;
        }
    }
    .active-icon .cls-3 {
        fill:#7DB841;
    }
    .popover-menu {
        position: absolute;
        right: 0;
        bottom: 5px;
        ion-button {
            --background-focused: transparent;
            ion-icon {
                --ion-color-base: var(--ion-color-warning) !important;
            }
        }

    }
}
.share-popover, .role-popover, .delete-popover {
    ion-backdrop {
        background-color: #000;
    }
    div.popover-content {
        margin: auto;
        width: 80%;
        left: 11% !important;
        top: 30% !important;
    }
    h4 {
        font-weight: 400;
        color: var(--ion-color-primary);
        padding-bottom: 5px;
        border-bottom: 1px solid var(--ion-color-primary);
    }

}

/* ----------- Statistique Pool detail page custom style ---------- */
#pool-detail {
    .sc-ion-card-ios-h, .sc-ion-card-md-h {
        margin-top: 0;
    }
    .list-ios {
        width: 100%;
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        ion-grid, ion-col {
            padding: 0;
        }

    }
    .block-1 {
        background-color: #f9f9ff;
        margin-bottom: 0;
        .desc {
            font-size: 13px;
            font-weight: 600;
        }
        .menu-amount {
            font-weight: 600;
            font-size: 15px;
            color: var(--ion-color-warning);
        }
    }
    .block-1 > ion-card-content {
        padding: 5px;
    }
    .mytontine-icon {
        position: relative;
        display:block;
        margin: 0 auto;
        height: 2.37rem;
        #pot-status-path {
            path {
                fill: none;
            }
        }
        .cls-3 {
            fill: #f04141;
            transition: color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        .cls-4 {
            clip-path: url(#pot-status-path-spd);
        }
        .cls-5 {
            fill: #fff;
        }
    }
    .active-icon .cls-3 {
        fill:#7DB841;
    }
    .benecifial {
        border-left: .25rem solid #ff9933;
        margin-bottom: .5rem;
        .ion-item {
            margin: 0;
            padding: 0;
        }
        .item .sc-ion-label-md-h,
        .item .sc-ion-label-ios-h {
            margin: 0;
            padding: 0;
        }
    }
}

/* ----------- Withdrawal page custom style ---------- */
#withdrawal {
    .block-1 {
        background-color: #f9f9ff;
        margin-bottom: 0;
        .desc {
            font-size: 11px;
            font-weight: 600;
        }
        .menu-amount {
            font-weight: 600;
            font-size: 15px;
            color: var(--ion-color-warning);
        }
    }
    .block-1 > ion-card-content {
        padding: 5px;
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        border: 1px solid #ccc;
        background-color: #fff;
        .logooperator {
            width: 80%;
            padding: 0 0 5px 0;
        }
        ion-item {
            --background: none;
            ion-label {
                color: #ccc;
            }
        }
    }
}

/* ----------- Tontine loans page custom style ---------- */

.loans-menu-popover,
.loans-request-menu-popover {
    margin-bottom: 0;
    font-size: .99rem;
    .item-label {
        font-weight: 300;
    }
}

.tontine-loans {
    .sc-ion-card-ios-h, .sc-ion-card-md-h {
        margin-top: 0;
    }
    ion-icon[color="danger"] {
        margin-right: 5px;
        font-size: 1.3rem;
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        ion-grid, ion-col {
            padding: 0;
        }

    }
    .block-1 {
        background-color: #f9f9ff;
        margin-bottom: 0;
        .desc {
            font-size: 0.8rem;;
            line-height: 1rem;
            font-weight: 600;
        }
        .menu-amount {
            font-weight: 600;
            line-height: 1.1rem;
            font-size: 1rem;
            color: var(--ion-color-warning);
        }
        .t-balance {
            background-color: antiquewhite;
        }

    }
    .block-1 > ion-card-content {
        padding: 5px;
    }
}

/* ----------- Tontine loans edit page custom style ---------- */


/* ----------- Tontine loans request page custom style ---------- */
.loans-request {
    .cash {
        background-color: #f0f8ff;
        padding: .5rem;
        text-align: center;
      }
      .subtitle {
        color: #1077ab;
        padding-right: 5px;
      }
      .subamount {
        font-size: 1.5rem;
      }
}

/* ----------- Tontine loans list page custom style ---------- */
.loans-list {
    .sc-ion-card-ios-h, .sc-ion-card-md-h {
        margin-top: 0;
    }
    ion-icon[color="danger"] {
        margin-right: 5px;
        font-size: 1.3rem;
    }
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        ion-grid, ion-col {
            padding: 0;
        }

    }
    .block-1 {
        b {
            font-size: 12px;
            color: var(--ion-color-primary);
        }
        ion-label {
            p {
                font-size: 16px;
            }
        }
    }
    .block-2 {
        ion-card {
            background-color: #f9f9ff;
            padding:10px;
            .desc {
                font-size: 0.8rem;;
                line-height: 1rem;
                font-weight: 600;
            }
            .menu-amount {
                font-weight: 600;
                line-height: 1.1rem;
                font-size: 1rem;
                color: var(--ion-color-warning);
            }
            .t-balance {
                background-color: antiquewhite;
            }
        }
    }
    .block-1 > ion-card-content {
        padding: 5px;
    }
}


/* ----------- Tontine my loans page custom style ---------- */
.all-my-loans {
    .block-1 {
        position: relative;
        .row-1, .row-2 {
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
        }
        b {
            font-size: 12px;
            color: var(--ion-color-primary);
        }
        .edit-btn {
            position: absolute;
            top: 1rem;
            right: 0;
        }
        ion-label {
            p {
                font-size: 16px;
            }
        }
    }
    .block-2 {
        margin-top: 1rem;
    }
    .block-3 {
        margin-top: 1rem;
    }
}

/* ----------- Tontine my loans page custom style ---------- */
.my-loans {
    .block-1 {
        position: relative;
        .row-1, .row-2 {
            padding-bottom: 12px;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
        }
        b {
            font-size: 12px;
            color: var(--ion-color-primary);
        }
        .edit-btn {
            position: absolute;
            top: 1rem;
            right: 0;
        }
        ion-label {
            p {
                font-size: 16px;
            }
        }
        .pay-remain {
            position: absolute;
            right: 2rem;
        }
    }
    .block-2 {
        margin-top: 1rem;
    }
    .block-3 {
        margin-top: 1rem;
    }
}

/* ----------- Pesuswap page custom style ---------- */
.bar-balance {
    border: 1px solid #ccc;
    background: #f9f9ff;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .bar-balance-title {
        font-weight: 500;
        color: rgba(var(--ion-text-color-rgb,0,0,0),.4);
    }
}
.pesuswap {
    .swapwrap {
        padding-top: 0;
    }
    .i-have, .i-want {
        font-size: .8rem;
        margin: 5px auto;
        b {
            font-weight: 600;
            color: #000;
        }
    }
    .swapform {
        --padding-start: 0;
        border: none;
        background: border-box;
    }
    form {
        & > div:first-child {
            background: ghostwhite;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            margin-bottom: 5px;
        }
        ion-select {
            border: 1px solid #ccc;
            background: green;
            color: white;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
        .no-background {
            ion-select {
                background: #fff;
                border-radius: 0px;
                color: #222;
                border: none;
                box-shadow: none;
            }
        }
        ion-toggle {
            padding-right: 0;
            padding-left: 0;
        }
        .swapamount {
            --border-width: 1px;
            border-radius: 10px;
            --inner-border-width: 0;
            --min-height: 40px;
        }
        .item-inner {
            border: 0;
        }
        .swapfilter {
            background: var(--ion-background-color);
            .item .sc-ion-label-md-h {
                margin-top: 6px;
                margin-bottom: 13px;
            }
            ion-checkbox.md {
                margin-top: 14px;
                margin-bottom: 18px;
            }
        }
    }
    .swapitem {
        h2 {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        ion-icon {
            padding-left: 5px;
            padding-right: 5px;
        }
        .swaprate {
            ion-icon {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .popover-menu {
            position: absolute;
            right: 0;
            bottom: 5px;
            ion-button {
                --background-focused: transparent;
                ion-icon {
                    --ion-color-base: var(--ion-color-warning) !important;
                }
            }

        }
    }

}

.swap-btn-sommary {
    font-size: 0.9rem;
    text-align: left;
    strong {
        font-size: .95rem;
    }
}

.send-swap-request, .swap-validation {
    ion-icon {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* ----------- Tontines events page custom style ---------- */
.my-tontines-events {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        background-color: #f9f9ff;
        .col-status {
            padding: 0.3rem;
            .pot-rate-text {
                fill: #383a3e;
            }
        }
        ion-card-header, ion-card-content {
            padding: .2rem;
        }
        ion-card-header ion-badge{
            margin-top: 10px;
            margin-bottom: 5px;
        }
        ion-card-title {
            font-size: 1.4rem;
        }
        .event-img, .event-img-block {
            margin: 0;
            padding: 0;
        }
        .event-img-block {
            width: 100% !important;
            height: 180px;
            min-height: 180px;
            max-height: 180px;
            overflow: hidden;
        }
    }
    .pot-status .pot-rate-text {
        fill: #383a3e;
    }
}
.event-menu-popover {
    margin-bottom: 0;
    font-size: .99rem;
    .item-label {
        font-weight: 300;
    }
}


/* ----------- Tontine event detail page custom style ---------- */
.toolbar-img {
    --background: none;
    --min-height: 300px;
    --background: linear-gradient(45deg, rgba(76,185,196,.4) 0%, rgba(61,211,174,.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=.4 );

/*     --background: linear-gradient(20deg, rgba(28, 28, 28, .8) 20%, rgba(255, 255, 255, .8) 100%);
 *//*  --background: rgba(76,185,196,1);
    --background: -moz-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,185,196,1)), color-stop(100%, rgba(61,211,174,1)));
    --background: -webkit-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: -o-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );
 */
    ion-buttons {
        position: absolute;
        top: 0;
    }
    ion-buttons[slot="end"] {
        right: 0;    }

}
.toolbar-img-title {
    position: absolute;
    bottom: 0;
    left: 1rem;
    --background: transparent;
    ion-buttons {
        display: none;
    }
    ion-title {
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 1.5rem;
        margin-left: 1rem;
        color: var(--ion-color-primary-contrast);
    }
    ion-title.ios {
        margin-left: 0;
        padding: 0 10px;
    }
}
.toolbar-img-title {
    left: 0;
}
ion-toolbar[style*="opacity: 0"] ~ .toolbar-img-title {
    ion-title {
        color: #c1c4cd;
        font-family: var(--ion-font-family,inherit);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.0125em;
        margin-left: 0;
    }
    .title-ios {
        padding-left: 4.2rem;
    }
    ion-buttons {
        display: block;
    }
}
.event-detail {
    .notification {
        ion-card {
            box-shadow: 0 0 1px rgba(0, 0, 0, .5);
            border: 1px solid #ccc;
            background-color: #f9f9ff;
            ion-item {
                --background: #f9f9ff;
            }
            ion-card-header {
                padding: .2rem;
            }
            ion-card-content {
                border-top: 1px solid #ccc;
                padding: .4rem;
            }
        }
    }
    .block-1 {
        .row-1, .row-2 {
            border-bottom: 1px solid #ccc;
        }
        b {
            font-size: 12px;
            color: var(--ion-color-primary);
        }
    }
    .block-2 {
        background: aliceblue;
        ion-button {
            --padding-start: 1.5rem;
            --padding-end: 1.5rem;
            --padding-top: 0.5rem;
            --padding-bottom: 0.5rem;
            height: 1.8rem;
        }
        .col-status {
            .pot-rate-text {
                fill: #383a3e;
            }
        }
        .pot-status .pot-rate-text {
            fill: #383a3e;
        }
    }
    .block-3 {
        .mytontine-icon {
            position: relative;
            display:block;
            margin: 0 auto;
            height: 2.37rem;
            #pot-status-path {
                path {
                    fill: none;
                }
            }
            .cls-3 {
                fill: #f04141;
                transition: color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
            }
            .cls-4 {
                clip-path: url(#pot-status-path);
            }
            .cls-5 {
                fill: #fff;
            }
        }
        .active-icon .cls-3 {
            fill:#7DB841;
        }
    }
}
.event-detail-menu-popover {
    margin-bottom: 0;
    font-size: .99rem;
    .item-label {
        font-weight: 300;
    }
}

/* ----------- Tontine event ticket page custom style ---------- */
.ticket-form {
    ion-grid, ion-col {
        padding: 0;
    }
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    background: #f9f9ff;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    ion-item {
        --background: #f9f9ff;
        color: #222;
        --border-color: rgba(0, 0, 0, .3);
    }
}

.ticket {
    .notification {
        ion-card {
            box-shadow: 0 0 1px rgba(0, 0, 0, .5);
            border: 1px solid #ccc;
            background-color: #f9f9ff;
            ion-item {
                --background: #f9f9ff;
            }
            ion-card-header {
                padding: .2rem;
            }
            ion-card-content {
                border-top: 1px solid #ccc;
                padding: .4rem;
            }
        }
    }

}

/* ----------- Tontine event join page custom style ---------- */
.join-tontine {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        background-color: #fff;
        ion-item {
            --background: #fff;
        }
    }
}


/* ----------- Tontine event invite to join page custom style ---------- */
.invited {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        background-color: #fff;
        ion-item {
            --background: #fff;
        }
    }
}

/* ----------- Tontine event invite to join page custom style ---------- */
.wallet {
    ion-card {
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border: 1px solid #ccc;
        background-color: #fff;
        ion-item {
            --background: #fff;
        }
    }
    .block-1 {
        background-color: #f9f9ff;
        margin-bottom: 0;
        .desc {
            font-size: 11px;
            font-weight: 600;
        }
        .menu-amount {
            font-weight: 600;
            font-size: 15px;
            color: var(--ion-color-warning);
        }
    }
    .block-1 > ion-card-content {
        padding: 5px;
    }

}

/* ----------- Notifications page custom style ---------- */
.notifications {
    .notification {
        ion-card {
            box-shadow: 0 0 1px rgba(0, 0, 0, .5);
            border: 1px solid #ccc;
            background-color: #f9f9ff;
            ion-item {
                --background: #f9f9ff;
            }
            ion-card-header {
                padding: .2rem;
            }
            ion-card-content {
                border-top: 1px solid #ccc;
                padding: .4rem;
            }
        }
    }
}

/* ----------- user home page css ---------- */
.user-home {
    .avatar-block {
        .list-lines-none {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .action-block {
        .item {
            margin-bottom: 1.5rem;
            ion-text > p:first-child {
                color: #ff9933;
            }
            p {
                margin: .3rem 0;
            }
            ion-icon {
                color: #ff9933;
            }
        }

    }
}


/* ----------- media query CSS ------------------- */

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .welcome {
        .welcome-title {
            font-size: 1.5rem;
        }
    }
    ion-img.inner-image,
    svg.inner-image  {
        height: 10rem;
    }
    .my-tontines-events ion-card ion-card-title {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    html.ios, html.md {
        font-size: 1.3rem;
    }
    b, strong {
        font-weight: 400;
    }
    .item.sc-ion-label-md-h, .item .sc-ion-label-md-h,
    .item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
        font-size: 1.1rem;
    }
    .sc-ion-buttons-ios-s ion-button,
    .sc-ion-buttons-md-s ion-button {
        font-size: 24px;
    }
    .button-native.sc-ion-back-button-ios,
    .button-native.sc-ion-back-button-md {
        font-size: 1.1rem;
    }
    .sc-ion-label-ios-s p,
    .sc-ion-label-md-s p {
        font-size: .9rem;
    }
    ion-toolbar {
        --min-height: 100px;
    }
    ion-toolbar .logo {
        height: 4.5rem;
    }

    ion-toolbar .logo-arrow-no-right-slot {
        height: 1rem;
    }

    ion-title.no-padding.md {
        padding: 0 0 0 10px;
    }
    ion-toolbar .logo-no-right-slot {
        height: 3.8rem;
    }
    .toolbar-img {
        --min-height: 450px;
    }
    .toolbar-img-title ion-title {
        font-size: 2rem;
    }
    ion-toolbar.subtitle .title-ios.title-default,
    ion-toolbar.subtitle .title-md.title-default {
        font-size: 1.4rem;
    }
    ion-title.no-padding.ios {
        padding-left: 7rem;
    }
    .modal-wrapper.sc-ion-modal-ios,
    .modal-wrapper.sc-ion-modal-md {
        --box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.2);
    }
    ion-segment-button {
        .ion-text-capitalize, [text-capitalize] {
            text-transform: capitalize !important;
            font-size: 1rem;
            margin: .5rem 1.5rem;
        }
    }
    ion-button,
    ion-button.button-round, .alert-button.sc-ion-alert-ios {
        font-size: 1.1rem;
    }
    .native-input.sc-ion-input-ios,
    .native-input.sc-ion-input-md,
    ion-select {
        font-size: 1rem;
    }
    ion-label, alert-radio-label,
    .alert-radio-label.sc-ion-alert-ios,
    .alert-radio-label.sc-ion-alert-md {
        font-size: 0.8rem;
    }
    ion-col ion-text, p {
        font-size: 1.1rem;
    }
    .alert-wrapper.sc-ion-alert-ios,
    .alert-wrapper.sc-ion-alert-md {
        min-width: 50%;
        .alert-tappable.sc-ion-alert-ios {
            height: 60px;
        }
    }
    ion-item {
        .sc-ion-label-ios-s h2,
        .sc-ion-label-md-s h2 {
            font-size: 1rem;
        }
        .sc-ion-label-ios-s h3,
        .sc-ion-label-md-s h3 {
            font-size: .95rem;
        }
        .sc-ion-label-ios-s p {
            font-size: .85rem;
        }
    }
    .logooperator {
        width: 60%;
    }
    .dashboard .thumb-img {
        height: 4rem;
    }
    .event-detail .block-1 b {
        font-size: 16px;
    }
    .welcome .welcome-title {
        font-size: 2rem;
    }
    .my-tontine {
        .pot-status {
            width: 65%;
            margin: 10px 10px 0;
        }
        ion-card {
            ion-card-header {
                ion-card-title {
                    font-size: 1.3rem;
                }
            }
            ion-card-content {
                .col-button.contributed {
                    background-color: var(--ion-color-success);
                    .menu-amount {
                        font-size: 1rem;
                        margin: 1.1rem 0;
                        font-weight: 400;
                    }
                }

                .col-button.inactive {
                    background-color: #e9ecef;
                    .menu-amount {
                        font-size: 1rem;
                        margin: 1.1rem 0;
                        font-weight: 400;
                    }
                }
            }
            ion-card-subtitle {
                font-size: 1.1rem;
            }
            .desc {
                font-size: 1rem;
                margin-top: 0.5rem;
            }
            .menu-amount {
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    .tontine-detail {
        .block-1 {
            .desc {
                font-size: 1rem;
                line-height: 1.15rem;
                font-weight: 600;
            }
            .menu-amount {
                font-weight: 600;
                line-height: 1.5rem;
                font-size: 1.1rem;
            }
        }
        .block-2 {
            ion-label p {
                font-size: 1.1rem;
            }
            b {
                font-size: 1rem;
                font-weight: 400;
            }
        }
        .block-3 {
            ion-item {
                font-size: 1.1rem;
            }
        }
        .block-4 {
            ion-text {
                font-size: 1.1rem;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .detail-session {
        b, strong {
            font-weight: 500;
        }
        ion-item {
            font-size: 1.1rem;
        }
    }
    .bid {
        .bid-info {
            .row-1 {
                margin-bottom: 1.5rem;
            }
            .row-1, .row-2 {
                b {
                    font-size: 1.1rem;
                }
            }
            .edit-btn {
                position: absolute;
                top: 1rem;
                right: 0;
            }
        }
    }
    #pool-detail {
        .block-1 {
            .desc {
                font-size: 1rem;
                line-height: 1.15rem;
                font-weight: 600;
            }
            .menu-amount {
                font-weight: 600;
                line-height: 1.5rem;
                font-size: 1.1rem;
            }
        }
    }
    .detail-members {

    }
    .wallet {

        .paidmode .logooperator {
            width: 60%;
            padding: 0 0 5px 0;
        }
    }
    #withdrawal {
        .block-1 {
            .desc {
                font-size: 1.1rem;
                font-weight: 400;
            }
            .menu-amount {
                font-weight: 400;
                font-size: 1.1rem;
                text-align: right;
            }
        }
        .card-content-ios,
        .card-content-md {
            font-size: 1.05rem;
        }
    }
    .user-home {
        .sc-ion-label-ios-s h2,
        .sc-ion-label-md-s h2 {
            font-size: 1.1rem;
        }
        .action-block .item ion-text > p:first-child {
            font-size: 1.1rem;
        }
        .action-block .item p {
            margin: 0.3rem 0;
            font-size: 1rem;
        }
    }
    .my-tontines-events {
        ion-card {
            .event-img-block {
                height: 250px;
                min-height: 250px;
                max-height: 250px;
            }
        }
    }
    .detail-share {
        ion-item {
            font-size: 1.1rem;
        }
    }
    .detail-penalities {
        ion-item {
            font-size: 1.1rem;
        }
    }
    .event-detail {
        .block-2 {
            svg {
                width: 55%;
            }
            ion-button {
                --padding-top: 1.5rem;
                --padding-bottom: 1.5rem;
            }
        }
    }
    .user-profil {

    }


}

@media (min-width: 1200px) {

}

@media (min-width: 1600px) {

}

@media (min-width: 1900px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .register-phone, .verfy-phone {
        --padding-top: 30%;
    }
    .my-tontines-events ion-card ion-card-title {
        font-size: 1.1rem;
    }

}

@media (max-width: 575.98px) {

}

@media only screen and (min-width : 320px) and (max-width : 480px) {


}


/* --------------- CSS Animation ----------------*/
@keyframes donut {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}
