<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" [defaultHref]="'/dashboard/my-tontines/'+ currentTontine.tontine.tontine_id" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
        <ion-img [src]="'assets/join-icon.svg'" class="thumb-img"></ion-img>
    </ion-avatar>
    <ion-title class="no-padding">
     {{ 'DEBTS_DUE' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openContextMenu($event)">
        <ion-icon name="ellipsis-vertical" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="debts-due">
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="reload-outline"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="block-1">
          <ion-card-content class="ion-text-center">
            <ion-row>
              <ion-col size="6" class="col-button">
                  <div class="desc">{{ 'TONTINE_LIST_TEXT2' | translate }}</div>
                  <div class="menu-amount"> {{currentSeance && currentSeance.date_debut ? (currentSeance.date_debut.split(' ')[0] | date :'mediumDate') : ('TONTINE_LIST_CONFIG' | translate) }}</div>
              </ion-col>
              <ion-col size="6" class="col-button">
                  <div class="desc">{{ 'TONTINE_LIST_TEXT5' | translate }}</div>
                  <div class="menu-amount"> 
                    <span *ngIf="members && members.prochain_a_bouffer.length === 0">{{ 'TONTINE_LIST_TEXT6' | translate }}</span> 
                    <span *ngFor="let beneficiary of members.prochain_a_bouffer">
                     {{beneficiary.lastname}}  {{beneficiary.firstname ? beneficiary.firstname : beneficiary.phone}}<br/>
                </span></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" class="col-button">
                <div class="desc">{{ 'CYCLE_TEXT' | translate }}</div>
                <div class="menu-amount">{{currentCycle && currentCycle.numerocycle? currentCycle.numerocycle : ('TONTINE_LIST_CONFIG' | translate) }}</div>
              </ion-col>
              <ion-col size="6" class="col-button">
                <div class="desc">{{ 'POOL_TEXT' | translate }}</div>
                <div class="menu-amount">{{currentSeance && currentSeance.numero_seance ? currentSeance.numero_seance : ('TONTINE_LIST_CONFIG' | translate)}}</div>
              </ion-col>
            </ion-row>            
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>
    <p class="ion-text-center"  *ngIf="loading">
      <ion-spinner  name="circles"></ion-spinner>
    </p>
    <ion-row  *ngIf="myDebts && myDebts.length > 0">
      <ion-col>
        <p>{{PAYMENT_TICK_MSG | translate}}</p>
        <ion-list >
          <ion-item *ngFor="let debt of myDebts; let i=index">
            <ion-checkbox (ionChange)="checkEvent($event, i)" color="primary" slot="start"></ion-checkbox>
            <ion-label>
              <p>                
                <span class="ion-float-left"><small>{{ 'DATE_TEXT' | translate }}: </small>{{  debt && debt.date_debut ? (debt.date_debut.split(' ')[0] | date :'mediumDate') : ''}}</span>
                <span class="ion-float-right"><b><small>{{ 'CYCLE_TEXT' | translate }}/{{'SESSION_TEXT' | translate}}: </small>{{ debt && debt.numero_cycle ? debt && debt.numero_cycle : 0 }}/{{ debt && debt.numero_seance ? debt.numero_seance : 0 }}</b></span> 
              </p>
              <h3>{{ debt && debt.description ? (debt.description | translate) : ''}}</h3> 
              <p>
                <ion-text class="ion-float-left" color="warning"><span>{{ debt && debt.montant ? (debt.montant | commadumper) : 0 }}  {{debt.device }}</span></ion-text>
                <ion-text class="ion-float-right" color="dark"><span>{{ "SHARE_ID_TEXT" | translate }} :  {{debt.numero_part}} </span></ion-text>
              </p>
              <ion-text color="dark" *ngIf="debt.typecontribution_id === 1"><strong >{{ "TYPE_TEXT" | translate }} : </strong> {{debt.type_penalite === 'retard' ? ('PENALITY_RETARD' | translate) : ('PENALITY_ABSENCE' | translate)}} </ion-text>
            </ion-label>            
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div  *ngIf="myDebts && myDebts.length === 0  && !loading">
    <p class="ion-padding ion-text-center" >{{ 'PAYMENT_TICK_EMPTY_MSG' | translate}}</p>
  </div>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-row>
    <ion-col *ngIf="myDebts && myDebts.length === 0  && !loading">
      <ion-button expand="full"  color="warning" 
      class="ion-text-uppercase"
      shape="round"
      (click)="debtInProgress()">
      {{'DEBTS_IN_PROCESS' | translate }}
    </ion-button>
    </ion-col>
    <ion-col  *ngIf="totalPay != 0">
      <ion-button expand="full" [disabled]="!currentCurrency && totalPay === 0"
      color="warning" 
      class="ion-text-uppercase"
      shape="round"
      (click)="processPayment()">
{{ 'PROCESS_PAYMENT' | translate }} {{ (totalPay | commadumper) }}  {{currentTontine.tontine.monnaie }} <span class="ion-text-lowercase">({{ + itemsList.length + ('DEBT_TEXT' | translate) }})</span>
</ion-button>
    </ion-col>
  </ion-row>

  <p *ngIf="loadingPay" class="ion-text-center ion-padding">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
</ion-footer>
