<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" [defaultHref]="['/','dashboard','my-tontines',tontineId]" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
        <ion-img [src]="'assets/join-icon.svg'" class="thumb-img"></ion-img>
    </ion-avatar>
    <ion-title class="ion-padding">
      {{ 'FINANCIAL_STATISQUE' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <form [formGroup]="periodForm">
      <ion-grid class="header-search-bg">
        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-label>{{ 'M_START_TEXT' | translate }}</ion-label>
              <ion-datetime formControlName="dateStart" displayFormat="D MMM, YYYY" [min]="currentDate.getFullYear()"  pickerFormat="DD MMMM YYYY"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-label>{{ 'M_END_TEXT' | translate }}</ion-label>
              <ion-datetime [disabled]="startOn.invalid" formControlName="dateEnd" displayFormat="D MMM, YYYY" [min]="currentDate.getFullYear()" pickerFormat="DD MMMM YYYY"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-buttons class="edit-btn">
              <ion-button [disabled]="periodForm.invalid" (click)="filterByDate(periodForm.value)" > 
                <ion-icon slot="icon-only" name="search" color="warning"></ion-icon>
              </ion-button>
            </ion-buttons>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="reload-outline"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <ion-grid>
    <ion-row *ngIf="!loading">
      <ion-col>
        {{'TOTAL_NUMBER_CYCLE' | translate }}: {{cycles.length}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let data of cycles"  (click)="getSeance(data.cycle.id)" detail>
            <ion-label>
              <h3><small>{{ 'CYCLE_REF' | translate }} : </small>{{data.cycle.numerocycle}}</h3>
              <ion-text color="primary"><h2><small>{{ 'CYCLE_START_ON' | translate }}:</small> {{ data.cycle.created_at ? data.cycle.created_at.split(' ')[0] : ('NOT_DEFINED' | translate)}} </h2></ion-text>  
              <p>                
              <span class="ion-float-left"><small>{{ 'M_N_POOLS' | translate }}: </small>({{data.nombre_seances ? data.nombre_seances : 0}})</span> 
                <span class="ion-float-right"><b><small>{{ 'STATUS_TEXT' | translate}}: </small>{{data.cycle.archived === 1 ? ('CLOSE_TEXT' | translate) : ('ACTIVE_TEXT' | translate) }}</b></span> 
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
