<ion-list class="ion-padding-top" class="tontine-detail-menu-popover">  
  <ion-item (click)="inviteMember()" lines="none">
    <ion-label>
      {{ 'TONTINE_INVITED_TEXT1' | translate }}
    </ion-label>
  </ion-item>
 
  <ion-item (click)="financialStats()" lines="none">
    <ion-label>
      {{ 'FINANCIAL_STATISQUE' | translate }}
    </ion-label>
  </ion-item>
  <ion-item (click)="transactionHistory()" lines="none">
    <ion-label>
      {{ 'TRANSACTIONS_HISTORY' | translate }}
    </ion-label>
  </ion-item>
  <ion-item (click)="createTontinePage()" lines="none">
    <ion-label>
      {{ 'MENU_NEW_TONTINE' | translate }}
    </ion-label>
  </ion-item>
  
  <ion-item (click)="debtManagerPage()" *ngIf="isTraditionnalBanking()" lines="none">
    <ion-label>
      {{ 'DEBTS_MANAGER' | translate }}
    </ion-label>
  </ion-item>
  <ion-item *ngIf="isLoan()" (click)="loan()" 
  lines="none">
    <ion-label>
      {{'LOAN_MANAGER' | translate }}
    </ion-label>
  </ion-item>
  <ion-item (click)="joinTontinePage()" lines="none">
    <ion-label>
      {{ 'MENU_JOIN_TONTINE' | translate }}
    </ion-label>
  </ion-item>
  <ion-item *ngIf="canShareCode()" (click)="shareCode()" lines="none">
    <ion-label>
      {{ 'MENU_SHARE_CODE_TONTINE' | translate }}
    </ion-label>
  </ion-item>
  <ion-item (click)="openWallet()" lines="none">
    <ion-label>
      {{ 'MENU_MY_WALLET' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="archiveTontine()" *ngIf="canArchive()" lines="none">
    <ion-label>
      {{ 'MENU_ARCHIVE_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>